
<!--Now add-->
<div *ngIf="patientIssue">
    <h2><span jhiTranslate="telemedicineApplicationApp.patientIssue.detail.title">Patient Issue</span> {{patientIssue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="telemedicineApplicationApp.patientIssue.issue">Issue</span></dt>
        <dd>
            <span>{{patientIssue.issue}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'patient-issue/'+ patientIssue.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
