<br/>
<footer class="navbar-dark" style="font-family:'Bitstream Vera Sans Mono' ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h4>CONTACT US</h4>
                <br/>
                Phone : +0 123-456-7890
                <hr>
                Email : info@telemedicine.com
            </div>

            <div class="col-xs-12 col-sm-4">
                <h4>QUICK LINKS</h4>
                <br/>
                <ul>
                    <li><a href="/" class="font_white font_green_hvr">Contact Us</a></li>
                    <li><a href="/" class="font_white font_green_hvr">Company Overview</a></li>
                    <li><a href="/" class="font_white font_green_hvr">Partner Programs</a></li>
                    <li><a href="/" class="font_white font_green_hvr">Privacy</a></li>
                    <li><a href="/" class="font_white font_green_hvr">Terms of Service</a></li>
                    <li><a href="/" class="font_white font_green_hvr">FAQ</a></li>
                    <li><a href="/" class="font_white font_green_hvr">How it Works</a></li>
                    <li><a href="/" class="font_white font_green_hvr">Support</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4">
                <h4>NEWS LETTER</h4>
                <br/>
                Select your newsletters, enter your email address, and click "Subscribe"
                <input type="text" id="newsletter" name="newsletter" class="form-control" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon"></span>
            <!--</div>-->
        <!--</div>-->
        <!--<br/>-->
        <div class="row">
            <div align="center" class="col-xs-12 col-md-12 col-lg-12">
                &copy; Copyright 2018. All Rights Reserved by Telemedicine | Email: <a href="mailto:contact@telemedicine.com?body=Thank you for contacting TeleMedicine! ( Inquiry from Website Footer)">contact@telemedicine.com</a>
            </div>
        </div>
    </div>
</footer>
<br/>
