<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPrescriptionLabel" jhiTranslate="telemedicineApplicationApp.prescription.home.createOrEditLabel">Create or edit a Prescription</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!prescription.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="prescription.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.prescription.appointment" for="field_appointment">Appointment</label>
            <select class="form-control" id="field_appointment" name="appointment" [(ngModel)]="prescription.appointmentId">
                <option [ngValue]="null"></option>
                <option [ngValue]="appointmentOption.id" *ngFor="let appointmentOption of appointments; trackBy: trackAppointmentById">{{appointmentOption.id}}</option>
            </select>
        </div>

        <!--<button  type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addRow()">-->
        <div class="table-responsive">
            <table cellspacing="5" cellpadding="5">
                <div class="table-responsive">
                    <thead class="blue-background">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Quntity</th>
                        <th>Time</th>
                        <th>Price</th>
                        <!--<th></th>-->
                        <th></th>
                    </thead>
                    <tr class="border-light" *ngFor="let medicine of medicines; let i = index">
                        <td>{{i+1}}</td>
                        <td><input type="text" class="form-control" name="name_{{i}}" placeholder="Name" [(ngModel)]="medicine.name"></td>
                        <td><input type="text" class="form-control" name="qty_{{i}}" placeholder="Quantity" [(ngModel)]="medicine.quantity"></td>

                        <td>
                            <!--<input type="text" class="form-control" placeholder="Time" ng-model="medicine.time">-->
                            <select class="form-control" name="time_{{i}}" [(ngModel)]="medicine.time"   required>
                                <option value="BEFORE_BREAKFAST">{{'telemedicineApplicationApp.timeslots.BEFORE_BREAKFAST' | translate}}</option>
                                <option value="AFTER_BREAKFAST">{{'telemedicineApplicationApp.timeslots.AFTER_BREAKFAST' | translate}}</option>
                                <option value="BEFORE_LUNCH">{{'telemedicineApplicationApp.timeslots.BEFORE_LUNCH' | translate}}</option>
                                <option value="AFTER_LUNCH">{{'telemedicineApplicationApp.timeslots.AFTER_LUNCH' | translate}}</option>
                                <option value="BEFORE_EVENING_MEAL">{{'telemedicineApplicationApp.timeslots.BEFORE_EVENING_MEAL' | translate}}</option>
                                <option value="AFTER_EVENING_MEAL">{{'telemedicineApplicationApp.timeslots.AFTER_EVENING_MEAL' | translate}}</option>
                                <option value="BEFORE_DINNER">{{'telemedicineApplicationApp.timeslots.BEFORE_DINNER' | translate}}</option>
                                <option value="AFTER_DINNER">{{'telemedicineApplicationApp.timeslots.AFTER_DINNER' | translate}}</option>
                            </select>
                        </td>
                        <!--<td><input type="text" class="form-control" name="price_{{i}}" placeholder="Price" [(ngModel)] ="medicine.price"></td>-->
                        <!--<td><button class="btn btn-primary btn-sm"  type="button" (click)="save()"> <span class="fa fa-pencil"></span> <span class="d-none d-md-inline"><span>Save</span></span> </button></td>-->
                        <td>
                            <button class="btn btn-danger" type="button" (click)="removeObject()"> <span class="fa fa-remove"></span> <span class="d-none d-md-inline"><span>Remove</span></span> </button>
                            <!--<button class="btn btn-danger" type="submit"> <span class="fa fa-remove"></span>&nbsp;<span jhitranslate="entity.action.delete" ng-reflect-jhi-translate="entity.action.delete"><span>Delete</span></span> </button>-->
                        </td>
                    </tr>

                </div>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button align="right" type="button" (click)="addComponent()" class="btn btn-outline-primary">
            <span class="fa fa-plus-circle"></span>&nbsp;<span>Add New Row</span>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
