
<div *ngIf="prescription">
    <h2><span jhiTranslate="telemedicineApplicationApp.prescription.detail.title">Prescription</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="telemedicineApplicationApp.prescription.id">Prescription ID</span></dt>
        <dd>
            <div *ngIf="prescription.id">
                <a [routerLink]="['/prescription', prescription.id]">{{prescription.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.prescription.appointment">Appointment</span></dt>
        <dd>
            <div *ngIf="prescription.appointmentId">
                <a [routerLink]="['/appointment', prescription.appointmentId]">{{prescription.appointmentId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.prescription.prescriptiondetail">Prescriptiondetail</span></dt>
        <dd>
            <span>{{prescription.prescriptiondetail}}</span>
            <!--<table cellspacing="5" cellpadding="5">-->
                <!--<div class="table-responsive">-->
                    <!--<thead class="blue-background">-->
                    <!--<th>ID</th>-->
                    <!--<th>Name</th>-->
                    <!--<th>Quntity</th>-->
                    <!--<th>Time</th>-->
                    <!--<th>Price</th>-->
                    <!--</thead>-->
                    <!--&lt;!&ndash;*ngFor="let medicine of prescription.prescriptiondetail; let i = index"&ndash;&gt;-->
                    <!--<tr class="border-light" (load)="respJSON()">-->
                        <!--&lt;!&ndash;<td>{{i+1}}</td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="text" class="form-control" name="name_{{i}}" placeholder="Name" [(ngModel)]="medicine.name"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="text" class="form-control" name="qty_{{i}}" placeholder="Quantity" [(ngModel)]="medicine.quantity"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<select class="form-control" name="time_{{i}}" [(ngModel)]="medicine.time" required>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="BEFORE_BREAKFAST">{{'telemedicineApplicationApp.timeslots.BEFORE_BREAKFAST' | translate}}</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="AFTER_BREAKFAST">{{'telemedicineApplicationApp.timeslots.AFTER_BREAKFAST' | translate}}</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="BEFORE_LUNCH">{{'telemedicineApplicationApp.timeslots.BEFORE_LUNCH' | translate}}</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="AFTER_LUNCH">{{'telemedicineApplicationApp.timeslots.AFTER_LUNCH' | translate}}</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="BEFORE_EVENING_MEAL">{{'telemedicineApplicationApp.timeslots.BEFORE_EVENING_MEAL' | translate}}</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="AFTER_EVENING_MEAL">{{'telemedicineApplicationApp.timeslots.AFTER_EVENING_MEAL' | translate}}</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="BEFORE_DINNER">{{'telemedicineApplicationApp.timeslots.BEFORE_DINNER' | translate}}</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="AFTER_DINNER">{{'telemedicineApplicationApp.timeslots.AFTER_DINNER' | translate}}</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;</select>&ndash;&gt;-->
                        <!--&lt;!&ndash;</td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="text" class="form-control" name="price_{{i}}" placeholder="Price" [(ngModel)] ="medicine.price"></td>&ndash;&gt;-->
                    <!--</tr>-->
                <!--</div>-->
            <!--</table>-->
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_DOCTOR'" type="button"
            [routerLink]="['/', { outlets: { popup: 'prescription/'+ prescription.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
