<!--<div>-->
    <!--<div class="table-responsive" align="center" style="background-color: #9d9d9d">-->
    <!--<h2>-->
        <!--<span jhiTranslate="telemedicineApplicationApp.prescription.home.title">Prescriptions</span>-->
        <!--<button *jhiHasAnyAuthority="'ROLE_DOCTOR'" class="btn btn-primary float-right jh-create-entity create-prescription" [routerLink]="['/', { outlets: { popup: ['prescription-new'] } }]">-->
            <!--<span class="fa fa-plus"></span>-->
            <!--<span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.prescription.home.createLabel">-->
            <!--Create new Prescription-->
            <!--</span>-->
        <!--</button>-->
    <!--</h2>-->
    <!--</div>-->
    <!--<jhi-alert></jhi-alert>-->
    <!--<div class="row">-->
     <!--&lt;!&ndash;   <div class="col-sm-12">-->
            <!--<form name="searchForm" class="form-inline">-->
                <!--<div class="input-group w-100 mt-3">-->
                    <!--<input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'telemedicineApplicationApp.prescription.home.search' | translate }}">-->
                    <!--<button class="input-group-append btn btn-info" (click)="search(currentSearch)">-->
                        <!--<span class="fa fa-search"></span>-->
                    <!--</button>-->
                    <!--<button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">-->
                        <!--<span class="fa fa-trash-o"></span>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>&ndash;&gt;-->
    <!--<br/>-->
    <!--<div class="table-responsive" *ngIf="prescriptions">-->

        <!--<table>-->
            <!--<thead>-->
            <!--<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">-->
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="prescriptiondetail"><span jhiTranslate="telemedicineApplicationApp.prescription.prescriptiondetail">Prescriptiondetail</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="appointmentId"><span jhiTranslate="telemedicineApplicationApp.prescription.appointment">Appointment</span> <span class="fa fa-sort"></span></th>-->
            <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody *jhiHasAnyAuthority="'ROLE_ADMIN'">-->
            <!--<tr *ngFor="let prescription of prescriptions ;trackBy: trackId">-->
                <!--<td><a [routerLink]="['../prescription', prescription.id ]">{{prescription.id}}</a></td>-->
                <!--<td>{{prescription.prescriptiondetail}}</td>-->
                <!--<td>{{patient_prescriptions.name}}</td>-->
                <!--<td>-->
                    <!--<div *ngIf="prescription.appointmentId">-->
                        <!--<a [routerLink]="['../appointment', prescription.appointmentId  ]" >{{prescription.appointmentId}}</a>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['../prescription', prescription.id ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="fa fa-eye"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr *ngFor="let prescript of prescriparray">-->
            <!--<td>{{prescript.name}}</td></tr>-->
            <!--</tbody>-->
            <!--<tbody *jhiHasAnyAuthority="'ROLE_DOCTOR'">-->
            <!--<tr *ngFor="let prescription of doctor_prescriptions ;trackBy: trackId">-->
                <!--<td><a [routerLink]="['../prescription', prescription.id ]">{{prescription.id}}</a></td>-->
                <!--<td>{{prescription.prescriptiondetail}}</td>-->
                <!--<td>-->
                    <!--<div *ngIf="prescription.appointmentId">-->
                        <!--<a [routerLink]="['../appointment', prescription.appointmentId  ]" >{{prescription.appointmentId}}</a>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: ['order-medicine-new'] } }]"-->
                                <!--class="btn btn-info btn-sm"  *jhiHasAnyAuthority="'ROLE_PATIENT'">-->
                            <!--<span  *jhiHasAnyAuthority="'ROLE_PATIENT'" class="fa fa-shopping-cart"></span>-->
                            <!--&lt;!&ndash;<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>&ndash;&gt;-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['../prescription', prescription.id ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="fa fa-eye"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'prescription/'+ prescription.id + '/edit'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-primary btn-sm" *jhiHasAnyAuthority="'ROLE_DOCTOR'">-->
                            <!--<span class="fa fa-pencil"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'prescription/'+ prescription.id + '/delete'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-danger btn-sm"*jhiHasAnyAuthority="'ROLE_ADMIN'">-->
                            <!--<span class="fa fa-remove"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr *ngFor="let prescript of prescriparray">-->
                <!--<td>{{prescript.name}}</td></tr>-->
            <!--</tbody>-->
            <!--<tbody *jhiHasAnyAuthority="'ROLE_PATIENT'">-->
            <!--<tr *ngFor="let prescription of patient_prescriptions ;trackBy: trackId">-->
                <!--<td><a [routerLink]="['../prescription', prescription.id ]">{{prescription.id}}</a></td>-->
                <!--&lt;!&ndash;<td>{{prescription.prescriptiondetail}}</td>&ndash;&gt;-->
                <!--<div>-->
                    <!--<td>Name</td>-->
                    <!--<td>Quantity</td>-->
                    <!--<td>Time</td>-->
                <!--</div>-->
                        <!--<div *ngFor="let prescription of myData ;trackBy: trackId">-->
                            <!--<td>{{prescription.name}}</td>-->
                            <!--<td>{{prescription.quantity}}</td>-->
                            <!--<td>{{prescription.time}}</td>-->
                            <!--&lt;!&ndash;<td>{{prescription.price}}</td>&ndash;&gt;-->
                        <!--</div>-->
                <!--<td>-->
                    <!--<div *ngIf="prescription.appointmentId">-->
                        <!--<a [routerLink]="['../appointment', prescription.appointmentId  ]" >{{prescription.appointmentId}}</a>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: ['order-medicine-new'] } }]"-->
                                <!--class="btn btn-primary  btn-sm"  *jhiHasAnyAuthority="'ROLE_PATIENT'">-->
                            <!--<span  *jhiHasAnyAuthority="'ROLE_PATIENT'" class="fa fa-shopping-cart"></span>-->
                            <!--<span class="d-none d-md-inline">Order</span>-->
                        <!--</button>-->
                        <!--&lt;!&ndash;<button type="submit"-->
                                <!--[routerLink]="['../prescription', prescription.id ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="fa fa-eye"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>&ndash;&gt;-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
  <!--&lt;!&ndash;  <div *ngIf="prescriptions && prescriptions.length">-->
        <!--<div class="row justify-content-center">-->
            <!--<jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>-->
        <!--</div>-->
        <!--<div class="row justify-content-center">-->
            <!--<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>-->
        <!--</div>-->
    <!--</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div>-->
    <!--&lt;!&ndash;<div class="table-responsive">&ndash;&gt;-->
    <!--<h2 align="center">-->
        <!--<span jhiTranslate="telemedicineApplicationApp.prescription.home.title">Prescriptions</span>-->
        <!--<button *jhiHasAnyAuthority="'ROLE_DOCTOR'" class="btn btn-primary float-right jh-create-entity create-prescription" [routerLink]="['/', { outlets: { popup: ['prescription-new'] } }]">-->
            <!--<span class="fa fa-plus"></span>-->
            <!--<span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.prescription.home.createLabel">-->
            <!--Create new Prescription-->
            <!--</span>-->
        <!--</button>-->
    <!--</h2>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<jhi-alert></jhi-alert>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<form name="searchForm" class="form-inline">-->
                <!--<div class="input-group w-100 mt-3">-->
                    <!--<input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'telemedicineApplicationApp.prescription.home.search' | translate }}">-->
                    <!--<button class="input-group-append btn btn-info" (click)="search(currentSearch)">-->
                        <!--<span class="fa fa-search"></span>-->
                    <!--</button>-->
                    <!--<button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">-->
                        <!--<span class="fa fa-trash-o"></span>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-12">&ndash;&gt;-->
            <!--&lt;!&ndash;<form name="searchForm" class="form-inline">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="input-group w-100 mt-3">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'telemedicineApplicationApp.prescription.home.search' | translate }}">&ndash;&gt;-->
                    <!--&lt;!&ndash;<button class="input-group-append btn btn-info" (click)="search(currentSearch)">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="fa fa-search"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="fa fa-trash-o"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</form>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<br/>-->
    <!--<div class="table-responsive" *ngIf="prescriptions">-->
        <!--<table class="table table-striped">-->
            <!--<thead>-->
            <!--<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">-->
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="prescriptiondetail"><span jhiTranslate="telemedicineApplicationApp.prescription.prescriptiondetail">Prescriptiondetail</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="appointmentId"><span jhiTranslate="telemedicineApplicationApp.prescription.appointment">Appointment</span> <span class="fa fa-sort"></span></th>-->
            <!--<th></th>-->
                <!--<th><span jhiTranslate="global.field.id">ID</span>-->
                    <!--&lt;!&ndash;<span class="fa fa-sort"></span>&ndash;&gt;-->
                <!--</th>-->
                <!--<th><span jhiTranslate="telemedicineApplicationApp.prescription.prescriptiondetail">Prescriptiondetail</span>-->
                    <!--&lt;!&ndash;<span class="fa fa-sort"></span>&ndash;&gt;-->
                <!--</th>-->
                <!--<th><span jhiTranslate="telemedicineApplicationApp.prescription.appointment">Appointment</span>-->
                    <!--&lt;!&ndash;<span class="fa fa-sort"></span>&ndash;&gt;-->
                <!--</th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody *jhiHasAnyAuthority="'ROLE_ADMIN'">-->
            <!--<tr *ngFor="let prescription of prescriptions ;trackBy: trackId">-->
                <!--<td><a [routerLink]="['../prescription', prescription.id ]">{{prescription.id}}</a></td>-->
                <!--<td>{{prescription.prescriptiondetail}}</td>-->
                <!--<td>-->
                    <!--<div *ngIf="prescription.appointmentId">-->
                        <!--<a [routerLink]="['../appointment', prescription.appointmentId  ]" >{{prescription.appointmentId}}</a>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['../prescription', prescription.id ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="fa fa-eye"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr *ngFor="let prescript of prescriparray">-->
            <!--<td>{{prescript.name}}</td></tr>-->
            <!--</tbody>-->
            <!--<tbody *jhiHasAnyAuthority="'ROLE_DOCTOR'">-->
            <!--<tr *ngFor="let prescription of doctor_prescriptions ;trackBy: trackId">-->
                <!--<td><a [routerLink]="['../prescription', prescription.id ]">{{prescription.id}}</a></td>-->
                <!--<td>{{prescription.prescriptiondetail}}</td>-->
                <!--<td>-->
                    <!--<div *ngIf="prescription.appointmentId">-->
                        <!--<a [routerLink]="['../appointment', prescription.appointmentId  ]" >{{prescription.appointmentId}}</a>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: ['order-medicine-new'] } }]"-->
                                <!--class="btn btn-info btn-sm"  *jhiHasAnyAuthority="'ROLE_PATIENT'">-->
                            <!--<span  *jhiHasAnyAuthority="'ROLE_PATIENT'" class="fa fa-shopping-cart"></span>-->
                            <!--&lt;!&ndash;<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>&ndash;&gt;-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['../prescription', prescription.id ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="fa fa-eye"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'prescription/'+ prescription.id + '/edit'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-primary btn-sm" *jhiHasAnyAuthority="'ROLE_DOCTOR'">-->
                            <!--<span class="fa fa-pencil"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'prescription/'+ prescription.id + '/delete'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-danger btn-sm"*jhiHasAnyAuthority="'ROLE_ADMIN'">-->
                            <!--<span class="fa fa-remove"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr *ngFor="let prescript of prescriparray">-->
                <!--<td>{{prescript.name}}</td></tr>-->
            <!--</tbody>-->
            <!--<tbody *jhiHasAnyAuthority="'ROLE_PATIENT'">-->
            <!--<tr *ngFor="let prescription of patient_prescriptions ;trackBy: trackId">-->
                <!--<td><a [routerLink]="['../prescription', prescription.id ]">{{prescription.id}}</a></td>-->
                <!--&lt;!&ndash;<td>{{prescription.prescriptiondetail}}</td>&ndash;&gt;-->
                <!--&lt;!&ndash;<td>{{prescription.prescriptiondetail}}</td>&ndash;&gt;-->
                <!--<div>-->
                    <!--<th>Name</th>-->
                    <!--<th>Quantity</th>-->
                    <!--<th>Time</th>-->
                <!--</div>-->
                <!--<div *ngFor="let prescription of myData ;trackBy: trackId">-->
                    <!--<td>{{prescription.name}}</td>-->
                    <!--<td>{{prescription.quantity}}</td>-->
                    <!--<td>{{prescription.time}}</td>-->
                    <!--&lt;!&ndash;<td>{{prescription.price}}</td>&ndash;&gt;-->
                <!--</div>-->
                <!--<td>-->
                    <!--<div *ngIf="prescription.appointmentId">-->
                        <!--<a [routerLink]="['../appointment', prescription.appointmentId  ]" >{{prescription.appointmentId}}</a>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: ['order-medicine-new'] } }]"-->
                                <!--class="btn btn-primary  btn-sm"  *jhiHasAnyAuthority="'ROLE_PATIENT'">-->
                            <!--<span  *jhiHasAnyAuthority="'ROLE_PATIENT'" class="fa fa-shopping-cart"></span>-->
                            <!--<span class="d-none d-md-inline">Order</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['../prescription', prescription.id ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="fa fa-eye"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
    <!--<div *ngIf="prescriptions && prescriptions.length">-->
        <!--<div class="row justify-content-center">-->
            <!--<jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>-->
        <!--</div>-->
        <!--<div class="row justify-content-center">-->
            <!--<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div *ngIf="prescriptions && prescriptions.length">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="row justify-content-center">&ndash;&gt;-->
            <!--&lt;!&ndash;<jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="row justify-content-center">&ndash;&gt;-->
            <!--&lt;!&ndash;<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--<div>-->
<!--<div class="table-responsive" align="center" style="background-color: #9d9d9d">-->
<!--<h2>-->
<!--<span jhiTranslate="telemedicineApplicationApp.prescription.home.title">Prescriptions</span>-->
<!--<button *jhiHasAnyAuthority="'ROLE_DOCTOR'" class="btn btn-primary float-right jh-create-entity create-prescription" [routerLink]="['/', { outlets: { popup: ['prescription-new'] } }]">-->
<!--<span class="fa fa-plus"></span>-->
<!--<span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.prescription.home.createLabel">-->
<!--Create new Prescription-->
<!--</span>-->
<!--</button>-->
<!--</h2>-->
<!--</div>-->
<!--<jhi-alert></jhi-alert>-->
<!--<div class="row">-->
<!--&lt;!&ndash;   <div class="col-sm-12">-->
<!--<form name="searchForm" class="form-inline">-->
<!--<div class="input-group w-100 mt-3">-->
<!--<input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'telemedicineApplicationApp.prescription.home.search' | translate }}">-->
<!--<button class="input-group-append btn btn-info" (click)="search(currentSearch)">-->
<!--<span class="fa fa-search"></span>-->
<!--</button>-->
<!--<button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">-->
<!--<span class="fa fa-trash-o"></span>-->
<!--</button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>&ndash;&gt;-->
<!--<br/>-->
<!--<div class="table-responsive" *ngIf="prescriptions">-->

<!--<table>-->
<!--<thead>-->
<!--<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">-->
<!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>-->
<!--<th jhiSortBy="prescriptiondetail"><span jhiTranslate="telemedicineApplicationApp.prescription.prescriptiondetail">Prescriptiondetail</span> <span class="fa fa-sort"></span></th>-->
<!--<th jhiSortBy="appointmentId"><span jhiTranslate="telemedicineApplicationApp.prescription.appointment">Appointment</span> <span class="fa fa-sort"></span></th>-->
<!--<th></th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody *jhiHasAnyAuthority="'ROLE_ADMIN'">-->
<!--<tr *ngFor="let prescription of prescriptions ;trackBy: trackId">-->
<!--<td><a [routerLink]="['../prescription', prescription.id ]">{{prescription.id}}</a></td>-->
<!--<td>{{prescription.prescriptiondetail}}</td>-->
<!--<td>{{patient_prescriptions.name}}</td>-->
<!--<td>-->
<!--<div *ngIf="prescription.appointmentId">-->
<!--<a [routerLink]="['../appointment', prescription.appointmentId  ]" >{{prescription.appointmentId}}</a>-->
<!--</div>-->
<!--</td>-->
<!--<td class="text-right">-->
<!--<div class="btn-group flex-btn-group-container">-->
<!--<button type="submit"-->
<!--[routerLink]="['../prescription', prescription.id ]"-->
<!--class="btn btn-info btn-sm">-->
<!--<span class="fa fa-eye"></span>-->
<!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
<!--</button>-->
<!--</div>-->
<!--</td>-->
<!--</tr>-->
<!--<tr *ngFor="let prescript of prescriparray">-->
<!--<td>{{prescript.name}}</td></tr>-->
<!--</tbody>-->
<!--<tbody *jhiHasAnyAuthority="'ROLE_DOCTOR'">-->
<!--<tr *ngFor="let prescription of doctor_prescriptions ;trackBy: trackId">-->
<!--<td><a [routerLink]="['../prescription', prescription.id ]">{{prescription.id}}</a></td>-->
<!--<td>{{prescription.prescriptiondetail}}</td>-->
<!--<td>-->
<!--<div *ngIf="prescription.appointmentId">-->
<!--<a [routerLink]="['../appointment', prescription.appointmentId  ]" >{{prescription.appointmentId}}</a>-->
<!--</div>-->
<!--</td>-->
<!--<td class="text-right">-->
<!--<div class="btn-group flex-btn-group-container">-->
<!--<button type="submit"-->
<!--[routerLink]="['/', { outlets: { popup: ['order-medicine-new'] } }]"-->
<!--class="btn btn-info btn-sm"  *jhiHasAnyAuthority="'ROLE_PATIENT'">-->
<!--<span  *jhiHasAnyAuthority="'ROLE_PATIENT'" class="fa fa-shopping-cart"></span>-->
<!--&lt;!&ndash;<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>&ndash;&gt;-->
<!--</button>-->
<!--<button type="submit"-->
<!--[routerLink]="['../prescription', prescription.id ]"-->
<!--class="btn btn-info btn-sm">-->
<!--<span class="fa fa-eye"></span>-->
<!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
<!--</button>-->
<!--<button type="submit"-->
<!--[routerLink]="['/', { outlets: { popup: 'prescription/'+ prescription.id + '/edit'} }]"-->
<!--replaceUrl="true"-->
<!--queryParamsHandling="merge"-->
<!--class="btn btn-primary btn-sm" *jhiHasAnyAuthority="'ROLE_DOCTOR'">-->
<!--<span class="fa fa-pencil"></span>-->
<!--<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
<!--</button>-->
<!--<button type="submit"-->
<!--[routerLink]="['/', { outlets: { popup: 'prescription/'+ prescription.id + '/delete'} }]"-->
<!--replaceUrl="true"-->
<!--queryParamsHandling="merge"-->
<!--class="btn btn-danger btn-sm"*jhiHasAnyAuthority="'ROLE_ADMIN'">-->
<!--<span class="fa fa-remove"></span>-->
<!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
<!--</button>-->
<!--</div>-->
<!--</td>-->
<!--</tr>-->
<!--<tr *ngFor="let prescript of prescriparray">-->
<!--<td>{{prescript.name}}</td></tr>-->
<!--</tbody>-->
<!--<tbody *jhiHasAnyAuthority="'ROLE_PATIENT'">-->
<!--<tr *ngFor="let prescription of patient_prescriptions ;trackBy: trackId">-->
<!--<td><a [routerLink]="['../prescription', prescription.id ]">{{prescription.id}}</a></td>-->
<!--&lt;!&ndash;<td>{{prescription.prescriptiondetail}}</td>&ndash;&gt;-->
<!--<div>-->
<!--<td>Name</td>-->
<!--<td>Quantity</td>-->
<!--<td>Time</td>-->
<!--</div>-->
<!--<div *ngFor="let prescription of myData ;trackBy: trackId">-->
<!--<td>{{prescription.name}}</td>-->
<!--<td>{{prescription.quantity}}</td>-->
<!--<td>{{prescription.time}}</td>-->
<!--&lt;!&ndash;<td>{{prescription.price}}</td>&ndash;&gt;-->
<!--</div>-->
<!--<td>-->
<!--<div *ngIf="prescription.appointmentId">-->
<!--<a [routerLink]="['../appointment', prescription.appointmentId  ]" >{{prescription.appointmentId}}</a>-->
<!--</div>-->
<!--</td>-->
<!--<td class="text-right">-->
<!--<div class="btn-group flex-btn-group-container">-->
<!--<button type="submit"-->
<!--[routerLink]="['/', { outlets: { popup: ['order-medicine-new'] } }]"-->
<!--class="btn btn-primary  btn-sm"  *jhiHasAnyAuthority="'ROLE_PATIENT'">-->
<!--<span  *jhiHasAnyAuthority="'ROLE_PATIENT'" class="fa fa-shopping-cart"></span>-->
<!--<span class="d-none d-md-inline">Order</span>-->
<!--</button>-->
<!--&lt;!&ndash;<button type="submit"-->
<!--[routerLink]="['../prescription', prescription.id ]"-->
<!--class="btn btn-info btn-sm">-->
<!--<span class="fa fa-eye"></span>-->
<!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
<!--</button>&ndash;&gt;-->
<!--</div>-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--&lt;!&ndash;  <div *ngIf="prescriptions && prescriptions.length">-->
<!--<div class="row justify-content-center">-->
<!--<jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>-->
<!--</div>-->
<!--<div class="row justify-content-center">-->
<!--<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>-->
<!--</div>-->
<!--</div>&ndash;&gt;-->
<!--</div>-->
<div>
    <!--<div class="table-responsive">-->
    <h2 align="center">
        <span jhiTranslate="telemedicineApplicationApp.prescription.home.title">Prescriptions</span>
        <button *jhiHasAnyAuthority="'ROLE_DOCTOR'" class="btn btn-primary float-right jh-create-entity create-prescription" [routerLink]="['/', { outlets: { popup: ['prescription-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.prescription.home.createLabel">
            Create new Prescription
            </span>
        </button>
    </h2>
    <!--</div>-->
    <jhi-alert></jhi-alert>
    <!--<div class="row">-->
    <!--<div class="col-sm-12">-->
    <!--<form name="searchForm" class="form-inline">-->
    <!--<div class="input-group w-100 mt-3">-->
    <!--<input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'telemedicineApplicationApp.prescription.home.search' | translate }}">-->
    <!--<button class="input-group-append btn btn-info" (click)="search(currentSearch)">-->
    <!--<span class="fa fa-search"></span>-->
    <!--</button>-->
    <!--<button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">-->
    <!--<span class="fa fa-trash-o"></span>-->
    <!--</button>-->
    <!--</div>-->
    <!--</form>-->
    <!--</div>-->
    <!--</div>-->
    <br/>
    <div class="table-responsive" *ngIf="prescriptions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th><span jhiTranslate="global.field.id">ID</span>
                    <!--<span class="fa fa-sort"></span>-->
                </th>
                <th><span jhiTranslate="telemedicineApplicationApp.prescription.prescriptiondetail">Prescriptiondetail</span>
                    <!--<span class="fa fa-sort"></span>-->
                </th>
                <th><span jhiTranslate="telemedicineApplicationApp.prescription.appointment">Appointment</span>
                    <!--<span class="fa fa-sort"></span>-->
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <tr *ngFor="let prescription of prescriptions ;trackBy: trackId">
                <td><a [routerLink]="['../prescription', prescription.id ]">{{prescription.id}}</a></td>
                <!--<td>{{prescription.prescriptiondetail}}</td>-->
                <div>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Time</th>
                </div>
                <div *ngFor="let prescription of myData ;trackBy: trackId">
                    <td>{{prescription.name}}</td>
                    <td>{{prescription.quantity}}</td>
                    <td>{{prescription.time}}</td>
                </div>
                <td>
                    <div *ngIf="prescription.appointmentId">
                        <a [routerLink]="['../appointment', prescription.appointmentId  ]" >{{prescription.appointmentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"-->
                                <!--[routerLink]="['../prescription', prescription.id ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="fa fa-eye"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>-->
                    </div>
                </td>
            </tr>
            <tr *ngFor="let prescript of prescriparray">
                <td>{{prescript.name}}</td></tr>
            </tbody>
            <tbody *jhiHasAnyAuthority="'ROLE_DOCTOR'">
            <tr *ngFor="let prescription of doctor_prescriptions ;trackBy: trackId">
                <td><a [routerLink]="['../prescription', prescription.id ]">{{prescription.id}}</a></td>
                <!--<td>{{prescription.prescriptiondetail}}</td>-->
                <div>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Time</th>
                </div>
                <div *ngFor="let prescription of myData ;trackBy: trackId">
                    <td>{{prescription.name}}</td>
                    <td>{{prescription.quantity}}</td>
                    <td>{{prescription.time}}</td>
                </div>
                <td>
                    <div *ngIf="prescription.appointmentId">
                        <a [routerLink]="['../appointment', prescription.appointmentId  ]" >{{prescription.appointmentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: ['order-medicine-new'] } }]"
                                class="btn btn-info btn-sm"  *jhiHasAnyAuthority="'ROLE_PATIENT'">
                            <span  *jhiHasAnyAuthority="'ROLE_PATIENT'" class="fa fa-shopping-cart"></span>
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        </button>
                        <!--<button type="submit"-->
                                <!--[routerLink]="['../prescription', prescription.id ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="fa fa-eye"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>-->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'prescription/'+ prescription.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm" *jhiHasAnyAuthority="'ROLE_DOCTOR'">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'prescription/'+ prescription.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm"*jhiHasAnyAuthority="'ROLE_ADMIN'">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr *ngFor="let prescript of prescriparray">
                <td>{{prescript.name}}</td></tr>
            </tbody>
            <tbody *jhiHasAnyAuthority="'ROLE_PATIENT'">
            <tr *ngFor="let prescription of patient_prescriptions ;trackBy: trackId">
                <td><a [routerLink]="['../prescription', prescription.id ]">{{prescription.id}}</a></td>
                <!--<td>{{prescription.prescriptiondetail}}</td>-->
                <div>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Time</th>
                </div>
                <div *ngFor="let prescription of myData ;trackBy: trackId">
                    <td>{{prescription.name}}</td>
                    <td>{{prescription.quantity}}</td>
                    <td>{{prescription.time}}</td>
                </div>
                <td>
                    <div *ngIf="prescription.appointmentId">
                        <a [routerLink]="['../appointment', prescription.appointmentId  ]" >{{prescription.appointmentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: ['order-medicine-new'] } }]"
                                class="btn btn-primary  btn-sm"  *jhiHasAnyAuthority="'ROLE_PATIENT'">
                            <span  *jhiHasAnyAuthority="'ROLE_PATIENT'" class="fa fa-shopping-cart"></span>
                            <span class="d-none d-md-inline">Order</span>
                        </button>
                        <!--<button type="submit"-->
                                <!--[routerLink]="['../prescription', prescription.id ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="fa fa-eye"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--<div *ngIf="prescriptions && prescriptions.length">-->
    <!--<div class="row justify-content-center">-->
    <!--<jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>-->
    <!--</div>-->
    <!--<div class="row justify-content-center">-->
    <!--<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>-->
    <!--</div>-->
    <!--</div>-->
</div>
