<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOrderMedicineLabel" jhiTranslate="telemedicineApplicationApp.orderMedicine.home.createOrEditLabel">Create or edit a Order Medicine</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!orderMedicine.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="orderMedicine.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.orderMedicine.pharmacist" for="field_pharmacist">Pharmacist</label>
            <select class="form-control" id="field_pharmacist" name="pharmacist" [(ngModel)]="orderMedicine.pharmacistId">
                <option [ngValue]="null"></option>
                <option [ngValue]="pharmacistOption.id" *ngFor="let pharmacistOption of pharmacists; trackBy: trackPharmacistById">{{pharmacistOption.id}}</option>
            </select>
        </div>
        <div class="form-group" *jhiHasAnyAuthority="'ROLE_PHARMACIST'">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.orderMedicine.prescription" for="field_prescription">Prescription</label>
            <select class="form-control" id="field_prescription" name="prescription" [(ngModel)]="orderMedicine.prescriptionId" (change)="selectPrescription()" >
                <option [ngValue]="null"></option>
                <option [ngValue]="prescriptionOption.id" *ngFor="let prescriptionOption of prescriptions; trackBy: trackPrescriptionById">{{prescriptionOption.id}}</option>
            </select>
        </div>
        <div class="form-group" *jhiHasAnyAuthority="'ROLE_PATIENT'">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.orderMedicine.prescription" for="field_patient_prescription">Prescription</label>
            <select class="form-control" id="field_patient_prescription" name="prescription" [(ngModel)]="orderMedicine.prescriptionId" (change)="selectPrescription()" >
                <option [ngValue]="null"></option>
                <option [ngValue]="prescriptionOption.id" *ngFor="let prescriptionOption of patient_prescriptions; trackBy: trackPrescriptionById">{{prescriptionOption.id}}</option>
            </select>
        </div>
        <div class="table-responsive" *ngIf = "orderMedicine.prescriptionId">
            <table cellspacing="5" cellpadding="5">
                <div class="table-responsive">
                    <thead class="blue-background">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Quntity</th>
                    <th>Time</th>
                    <th *jhiHasAnyAuthority="'ROLE_PHARMACIST'">Price</th>
                    <!--<th></th>-->
                    <th></th>
                    </thead>
                    <tr class="border-light" *ngFor="let medicine of medicines; let i = index" (onload)="countPrice()" >
                        <td>{{i+1}}</td>
                        <td><input type="text" class="form-control" name="name_{{i}}" placeholder="Name" [(ngModel)]="medicine.name" required></td>
                        <td><input type="text" class="form-control" name="qty_{{i}}" placeholder="Quantity" [(ngModel)]="medicine.quantity" required></td>
                        <td>
                            <!--<input type="text" class="form-control" placeholder="Time" ng-model="medicine.time">-->
                            <select class="form-control" name="time_{{i}}" [(ngModel)]="medicine.time"   required>
                                <option value="BEFORE_BREAKFAST">{{'telemedicineApplicationApp.timeslots.BEFORE_BREAKFAST' | translate}}</option>
                                <option value="AFTER_BREAKFAST">{{'telemedicineApplicationApp.timeslots.AFTER_BREAKFAST' | translate}}</option>
                                  <option value="BEFORE_LUNCH">{{'telemedicineApplicationApp.timeslots.BEFORE_LUNCH' | translate}}</option>
                                <option value="AFTER_LUNCH">{{'telemedicineApplicationApp.timeslots.AFTER_LUNCH' | translate}}</option>
                                <option value="BEFORE_EVENING_MEAL">{{'telemedicineApplicationApp.timeslots.BEFORE_EVENING_MEAL' | translate}}</option>
                                <option value="AFTER_EVENING_MEAL">{{'telemedicineApplicationApp.timeslots.AFTER_EVENING_MEAL' | translate}}</option>
                                <option value="BEFORE_DINNER">{{'telemedicineApplicationApp.timeslots.BEFORE_DINNER' | translate}}</option>
                                <option value="AFTER_DINNER">{{'telemedicineApplicationApp.timeslots.AFTER_DINNER' | translate}}</option>
                            </select>
                        </td>
                        <td *jhiHasAnyAuthority="'ROLE_PHARMACIST'"><input type="text" class="form-control" name="price_{{i}}" placeholder="Price" [(ngModel)] ="medicine.price" (change)="createJSON(medicine.name, medicine.price)" required></td>
                        <!--<td><button class="btn btn-primary btn-sm"  type="button" (click)="save()"> <span class="fa fa-pencil"></span> <span class="d-none d-md-inline"><span>Save</span></span> </button></td>-->
                        <td>
                            <button class="btn btn-danger" type="button" (click)="removeObject()"> <span class="fa fa-remove"></span> <span class="d-none d-md-inline"><span>Remove</span></span> </button>
                            <!--<button class="btn btn-danger" type="submit"> <span class="fa fa-remove"></span>&nbsp;<span jhitranslate="entity.action.delete" ng-reflect-jhi-translate="entity.action.delete"><span>Delete</span></span> </button>-->
                        </td>
                    </tr>

                </div>
            </table>
        </div>
        <div class="form-group">
            <label *jhiHasAnyAuthority="'ROLE_PHARMACIST'" class="form-control-label" jhiTranslate="telemedicineApplicationApp.orderMedicine.totalprice" for="field_totalprice">Totalprice</label>
            <input *jhiHasAnyAuthority="'ROLE_PHARMACIST'" type="number" class="form-control" name="totalprice" id="field_totalprice"
                [(ngModel)]="orderMedicine.totalBill" (ng-focus)="countPrice()" required/>
            <div [hidden]="!(editForm.controls.totalprice?.dirty && editForm.controls.totalprice?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.totalprice?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.totalprice?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
