
<div *ngIf="orderMedicine">
    <h2><span jhiTranslate="telemedicineApplicationApp.orderMedicine.detail.title">Order Medicine</span> {{orderMedicine.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="telemedicineApplicationApp.orderMedicine.medicinedetail">Medicinedetail</span></dt>
        <dd>
            <span>{{orderMedicine.medicinedetail}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.orderMedicine.totalprice">Totalprice</span></dt>
        <dd>
            <span>{{orderMedicine.totalprice}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.orderMedicine.prescription">Prescription</span></dt>
        <dd>
            <div *ngIf="orderMedicine.prescriptionId">
                <a [routerLink]="['/prescription', orderMedicine.prescriptionId]">{{orderMedicine.prescriptionId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.orderMedicine.pharmacist">Pharmacist</span></dt>
        <dd>
            <div *ngIf="orderMedicine.pharmacistId">
                <a [routerLink]="['/pharmacist', orderMedicine.pharmacistId]">{{orderMedicine.pharmacistId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'order-medicine/'+ orderMedicine.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
