<div>
    <h2>
        <span jhiTranslate="telemedicineApplicationApp.orderMedicine.home.title">Order Medicines</span>
        <button *jhiHasAnyAuthority="'ROLE_PATIENT'" class="btn btn-primary float-right jh-create-entity create-order-medicine" [routerLink]="['/', { outlets: { popup: ['order-medicine-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.orderMedicine.home.createLabel">
            Create new Order Medicine
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'telemedicineApplicationApp.orderMedicine.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orderMedicines">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="medicinedetail"><span jhiTranslate="telemedicineApplicationApp.orderMedicine.medicinedetail">Medicinedetail</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="status"><span jhiTranslate="telemedicineApplicationApp.orderMedicine.status">Status</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="totalprice"><span jhiTranslate="telemedicineApplicationApp.orderMedicine.totalprice">Totalprice</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="prescriptionId"><span jhiTranslate="telemedicineApplicationApp.orderMedicine.prescription">Prescription</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="pharmacistId"><span jhiTranslate="telemedicineApplicationApp.orderMedicine.pharmacist">Pharmacist</span> <span class="fa fa-sort"></span></th>
            </tr>
            </thead>
            <tbody *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <tr *ngFor="let orderMedicine of orderMedicines ;trackBy: trackId">
                <td><a [routerLink]="['../order-medicine', orderMedicine.id ]">{{orderMedicine.id}}</a></td>
                <!--<td>{{orderMedicine.medicinedetail}}</td>-->
                <div>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Time</th>
                    <th>Price</th>
                </div>
                <div *ngFor="let prescription of myData ;trackBy: trackId">
                    <td>{{prescription.name}}</td>
                    <td>{{prescription.quantity}}</td>
                    <td>{{prescription.time}}</td>
                    <td>{{prescription.price}}</td>
                </div>
                <td>{{orderMedicine.status}}</td>
                <td>{{orderMedicine.totalprice}}</td>
                <td>
                    <div *ngIf="orderMedicine.prescriptionId">
                        <a [routerLink]="['../prescription', orderMedicine.prescriptionId  ]" >{{orderMedicine.prescriptionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderMedicine.pharmacistId">
                        <a [routerLink]="['../pharmacist', orderMedicine.pharmacistId  ]" >{{orderMedicine.pharmacistId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../order-medicine', orderMedicine.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_PHARMACIST', 'ROLE_PATIENT']" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-medicine/'+ orderMedicine.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-medicine/'+ orderMedicine.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody *jhiHasAnyAuthority="'ROLE_PATIENT'">
            <tr *ngFor="let orderMedicine of patient_orderMedicines ;trackBy: trackId">
                <td><a [routerLink]="['../order-medicine', orderMedicine.id ]">{{orderMedicine.id}}</a></td>
                <!--<td>{{orderMedicine.medicinedetail}}</td>-->
                <!--<td>{{orderMedicine.medicinedetail}}</td>-->
                <div>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Time</th>
                    <th>Price</th>
                </div>
                <div *ngFor="let prescription of myData ;trackBy: trackId">
                    <td>{{prescription.name}}</td>
                    <td>{{prescription.quantity}}</td>
                    <td>{{prescription.time}}</td>
                    <td>{{prescription.price}}</td>
                </div>
                <td>{{orderMedicine.status}}</td>
                <td>{{orderMedicine.totalprice}}</td>
                <td>
                    <div *ngIf="orderMedicine.prescriptionId">
                        <a [routerLink]="['../prescription', orderMedicine.prescriptionId  ]" >{{orderMedicine.prescriptionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderMedicine.pharmacistId">
                        <a [routerLink]="['../pharmacist', orderMedicine.pharmacistId  ]" >{{orderMedicine.pharmacistId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../order-medicine', orderMedicine.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_PHARMACIST', 'ROLE_PATIENT']" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-medicine/'+ orderMedicine.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody *jhiHasAnyAuthority="'ROLE_PHARMACIST'">
            <tr *ngFor="let orderMedicine of pharmacist_orderMedicines ;trackBy: trackId">
                <td><a [routerLink]="['../order-medicine', orderMedicine.id ]">{{orderMedicine.id}}</a></td>
                <!--<td>{{orderMedicine.medicinedetail}}</td>-->
                <div>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Time</th>
                    <th>Price</th>
                </div>
                <div *ngFor="let prescription of myData ;trackBy: trackId">
                    <td>{{prescription.name}}</td>
                    <td>{{prescription.quantity}}</td>
                    <td>{{prescription.time}}</td>
                    <td>{{prescription.price}}</td>
                </div>
                <td>{{orderMedicine.status}}</td>
                <td>{{orderMedicine.totalprice}}</td>
                <td>
                    <div *ngIf="orderMedicine.prescriptionId">
                        <a [routerLink]="['../prescription', orderMedicine.prescriptionId  ]" >{{orderMedicine.prescriptionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderMedicine.pharmacistId">
                        <a [routerLink]="['../pharmacist', orderMedicine.pharmacistId  ]" >{{orderMedicine.pharmacistId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../order-medicine', orderMedicine.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_PHARMACIST', 'ROLE_PATIENT']" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-medicine/'+ orderMedicine.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="orderMedicines && orderMedicines.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
