<div>
    <h2>
        <span jhiTranslate="telemedicineApplicationApp.doctor.home.title">Doctors</span>

        <button class="btn btn-primary float-right jh-create-entity create-doctor" [routerLink]="['/', { outlets: { popup: ['doctor-new'] } }]" *jhiHasAnyAuthority="'ROLE_DOCTOR'">
            <span class="fa fa-plus" *jhiHasAnyAuthority="'ROLE_DOCTOR'"></span>
            <span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.doctor.home.createLabel" *jhiHasAnyAuthority="'ROLE_DOCTOR'">
            Create new Doctor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'telemedicineApplicationApp.doctor.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="doctors">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstname"><span jhiTranslate="telemedicineApplicationApp.doctor.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="telemedicineApplicationApp.doctor.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="photo"><span jhiTranslate="telemedicineApplicationApp.doctor.photo">Photo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mobileno"><span jhiTranslate="telemedicineApplicationApp.doctor.mobileno">Mobileno</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="exprience"><span jhiTranslate="telemedicineApplicationApp.doctor.exprience">Exprience</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="consultationcharge"><span jhiTranslate="telemedicineApplicationApp.doctor.consultationcharge">Consultationcharge</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="degreeId"><span jhiTranslate="telemedicineApplicationApp.doctor.degree">Degree</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="specializationId"><span jhiTranslate="telemedicineApplicationApp.doctor.specialization">Specialization</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let doctor of doctors ;trackBy: trackId">
                <td><a [routerLink]="['../doctor', doctor.id ]">{{doctor.id}}</a></td>
                <td>{{doctor.firstname}} {{doctor.lastname}}</td>
                <td jhiTranslate="{{'telemedicineApplicationApp.Process_Status.' + doctor.status}}">{{doctor.status}}</td>
                <td>
                    <a *ngIf="doctor.photo" (click)="openFile(doctor.photoContentType, doctor.photo)">
                        <img [src]="'data:' + doctor.photoContentType + ';base64,' + doctor.photo" style="max-height: 30px;" alt="doctor image"/>
                    </a>
                    <span *ngIf="doctor.photo"></span> <!--{{doctor.photoContentType}}, {{byteSize(doctor.photo)}} -->
                </td>
                <td>{{doctor.mobileno}}</td>
                <td>{{doctor.exprience}}</td>
                <!--<td>-->
                    <!--<a *ngIf="doctor.documents" (click)="openFile(doctor.documentsContentType, doctor.documents)" jhiTranslate="entity.action.open">open</a>-->
                    <!--<span *ngIf="doctor.documents"></span> &lt;!&ndash; {{doctor.documentsContentType}}, {{byteSize(doctor.documents)}} &ndash;&gt;-->
                <!--</td>-->
                <td>{{doctor.consultationcharge}}</td>
                <td>
                    <div *ngIf="doctor.degreeId">
                        <a [routerLink]="['../degree', doctor.degreeId  ]" >{{doctor.degreeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="doctor.specializationId">
                        <a [routerLink]="['../specialization', doctor.specializationId  ]" >{{doctor.specializationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../doctor', doctor.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'doctor/'+ doctor.id + '/edit'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="fa fa-pencil"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                        <!--</button>-->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doctor/'+ doctor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="doctors && doctors.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
