<div *ngIf="doctor">
    <h2><span jhiTranslate="telemedicineApplicationApp.doctor.detail.title">Doctor</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <!--<tr><span jhiTranslate="telemedicineApplicationApp.doctor.photo">Photo</span></tr>-->
                        <td>
                            <div *ngIf="doctor.photo" align="center">
                                <a (click)="openFile(doctor.photoContentType, doctor.photo)">
                                    <img [src]="'data:' + doctor.photoContentType + ';base64,' + doctor.photo"
                                         style="witrh: 300px; height: 300px;" alt="doctor image"/>
                                </a>
                                <!--{{doctor.photoContentType}}, {{byteSize(doctor.photo)}}-->
                            </div>
                        </td>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4><span jhiTranslate="telemedicineApplicationApp.doctor.detail.personaldetail">Personal Detail</span></h4>
                    <hr>
                    <div class="d-flex flex-row">
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.name"
                                  class="col-sm-3">Firstname</span>
                            <td class="col-md-6 input"><span>: {{doctor.firstname}} {{doctor.lastname}}</span></td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.status"
                                  class="col-sm-6">Status</span>
                            <td class="col-sm-6">: <span
                                jhiTranslate="{{'telemedicineApplicationApp.Process_Status.' + doctor.status}}">{{doctor.status}}</span>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.gender"
                                  class="col-sm-6">Gender</span>
                            <td class="col-sm-6">: <span
                                jhiTranslate="{{'telemedicineApplicationApp.Gender.' + doctor.gender}}">{{doctor.gender}}</span>
                            </td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.dob"
                                  class="col-sm-6">Dateofbirth</span>
                            <td class="col-sm-6"><span>: {{doctor.dateofbirth | date:'mediumDate'}}</span></td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.address"
                                  class="col-sm-6">Address</span>
                            <td class="col-sm-6"><span>: {{doctor.address}}</span></td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.mobno"
                                  class="col-sm-6">Mobileno</span>
                            <td class="col-sm-6"><span>: {{doctor.mobileno}}</span></td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.bloodgroup" class="col-sm-6">Bloodgroup</span>
                            <td class="col-sm-6"><span>: {{doctor.bloodgroup}}</span></td>
                        </tr>
                        <br/><br/>
                    </div>
                        <h4><span jhiTranslate="telemedicineApplicationApp.doctor.detail.qualificationdetail">Doctor</span></h4>
                        <hr>
                    <div class="d-flex flex-row">
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.exprience" class="col-sm-6">Exprience</span>
                            <td class="col-sm-6"><span>: {{doctor.exprience}}</span></td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.licenceno" class="col-sm-6">Licenceno</span>
                            <td class="col-sm-6"><span>: {{doctor.licenceno}}</span></td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.documents" class="col-sm-6">Documents</span>
                            <td class="col-sm-6"><div *ngIf="doctor.documents">:
                                <a (click)="openFile(doctor.documentsContentType, doctor.documents)"
                                   jhiTranslate="entity.action.open">open</a>
                                {{doctor.documentsContentType}}, {{byteSize(doctor.documents)}}
                            </div></td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.consultationcharge" class="col-sm-6">Consultationcharge</span>
                            <td class="col-sm-6"><span>: {{doctor.consultationcharge}}</span></td>
                        </tr>

                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.degree" class="col-sm-6">Degree</span>
                            <td class="col-sm-6">
                                <div *ngIf="doctor.degreeId">
                                    <a [routerLink]="['/degree', doctor.degreeId]">: {{doctor.degreeId}}</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.specialization" class="col-sm-6">Specialization</span>
                            <td class="col-sm-6">
                                <div *ngIf="doctor.specializationId">
                                    <a [routerLink]="['/specialization', doctor.specializationId]">: {{doctor.specializationId}}</a>
                                </div>
                            </td>
                        </tr>
                        <br/><br/>
                    </div>
                        <h4><span jhiTranslate="telemedicineApplicationApp.doctor.detail.socialdetail">Doctor</span></h4>
                        <hr>
                    <div class="d-flex flex-row">
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.googleplusid" class="col-sm-6">Googleplusid</span>
                            <td class="col-sm-6"><span>: {{doctor.googleplusid}}</span></td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.facebookid" class="col-sm-6">Facebookid</span>
                            <td class="col-sm-6"><span>: {{doctor.facebookid}}</span></td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.doctor.twitterid" class="col-sm-6">Twitterid</span>
                            <td class="col-sm-6"><span>: {{doctor.twitterid}}</span></td>
                        </tr>
                        <br/>
                    </div>
                    <div class="d-flex flex-row">
                        <hr>

                        <button type="submit"
                                (click)="previousState()"
                                class="btn btn-info">
                            <span class="fa fa-arrow-left"></span>&nbsp;<span
                            jhiTranslate="entity.action.back"> Back</span>
                        </button>

                        <button type="button"
                                [routerLink]="['/', { outlets: { popup: 'doctor/'+ doctor.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary">
                            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<dl class="row-md jh-entity-details">-->


<!--</dl>-->



