<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myDoctorLabel" jhiTranslate="telemedicineApplicationApp.doctor.home.createOrEditLabel">Create or Edit a Doctor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!doctor.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="doctor.id" readonly />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.firstname" for="field_firstname">First Name</label>
            <input type="text" class="form-control" name="firstname" id="field_firstname"
                [(ngModel)]="doctor.firstname" required/>
            <div [hidden]="!(editForm.controls.firstname?.dirty && editForm.controls.firstname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstname?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
                </div>
            </div>
            <div class="col-md-6">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.lastname" for="field_lastname">Last Name</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                   [(ngModel)]="doctor.lastname" required/>
            <div [hidden]="!(editForm.controls.lastname?.dirty && editForm.controls.lastname?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.lastname?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.lastname" for="field_lastname">Last Name</label>-->
            <!--<input type="text" class="form-control" name="lastname" id="field_lastname"-->
                <!--[(ngModel)]="doctor.lastname" required/>-->
            <!--<div [hidden]="!(editForm.controls.lastname?.dirty && editForm.controls.lastname?.invalid)">-->
                <!--<small class="form-text text-danger"-->
                   <!--[hidden]="!editForm.controls.lastname?.errors?.required" jhiTranslate="entity.validation.required">-->
                   <!--This field is required.-->
                <!--</small>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.status" for="field_status">Status</label>
                <select class="form-control" name="status" [(ngModel)]="doctor.status" id="field_status" >
                    <option value="ACTIVE">{{'telemedicineApplicationApp.Process_Status.ACTIVE' | translate}}</option>
                    <option value="DEACTIVE">{{'telemedicineApplicationApp.Process_Status.DEACTIVE' | translate}}</option>
                </select>
                </div>
             </div>
            <div class="col-md-6">
                <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.gender" for="field_gender">Gender</label>
                <select class="form-control" name="gender" [(ngModel)]="doctor.gender" id="field_gender"  required>
                    <option value="MALE">{{'telemedicineApplicationApp.Gender.MALE' | translate}}</option>
                    <option value="FEMALE">{{'telemedicineApplicationApp.Gender.FEMALE' | translate}}</option>
                    <option value="OTHER">{{'telemedicineApplicationApp.Gender.OTHER' | translate}}</option>
                </select>
                <div [hidden]="!(editForm.controls.gender?.dirty && editForm.controls.gender?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.gender?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.photo" for="field_photo">Photo</label>
                    <div>
                        <img [src]="'data:' + doctor.photoContentType + ';base64,' + doctor.photo" style="max-height: 100px;" *ngIf="doctor.photo" alt="doctor image" type="fileImage"/>
                        <div *ngIf="doctor.photo" class="form-text text-danger clearfix">
                            <span class="pull-left">{{doctor.photoContentType}}, {{byteSize(doctor.photo)}}</span>
                            <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <span class="fa fa-times"></span>
                            </button>
                        </div>
                        <input type="file" id="file_photo" (change)="setFileData($event, doctor, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage" />
                    <input type="hidden" class="form-control" name="photo" id="field_photo" [(ngModel)]="doctor.photo" />
                    <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                        [(ngModel)]="doctor.photoContentType"  />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.documents" for="field_documents">Documents</label>
                <div>
                    <div *ngIf="doctor.documents" class="form-text text-danger clearfix">
                        <a class="pull-left" (click)="openFile(doctor.documentsContentType, doctor.documents)" jhiTranslate="entity.action.open">Open</a><br>
                        <span class="pull-left">{{doctor.documentsContentType}}, {{byteSize(doctor.documents)}}</span>
                        <button type="button" (click)="doctor.documents=null;doctor.documentsContentType=null;"
                                class="btn btn-secondary btn-xs pull-right">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                    <input type="file" id="file_documents" (change)="setFileData($event, doctor, 'documents', false)" jhiTranslate="entity.action.addblob"/>
                </div>
                <input type="hidden" class="form-control" name="documents" id="field_documents"
                       [(ngModel)]="doctor.documents" required/>
                <input type="hidden" class="form-control" name="documentsContentType" id="field_documentsContentType"
                       [(ngModel)]="doctor.documentsContentType" />
                <div [hidden]="!(editForm.controls.documents?.dirty && editForm.controls.documents?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.documents?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.gender" for="field_gender">Gender</label>-->
            <!--<select class="form-control" name="gender" [(ngModel)]="doctor.gender" id="field_gender"  required>-->
                <!--<option value="MALE">{{'telemedicineApplicationApp.Gender.MALE' | translate}}</option>-->
                <!--<option value="FEMALE">{{'telemedicineApplicationApp.Gender.FEMALE' | translate}}</option>-->
                <!--<option value="OTHER">{{'telemedicineApplicationApp.Gender.OTHER' | translate}}</option>-->
            <!--</select>-->
            <!--<div [hidden]="!(editForm.controls.gender?.dirty && editForm.controls.gender?.invalid)">-->
                <!--<small class="form-text text-danger"-->
                   <!--[hidden]="!editForm.controls.gender?.errors?.required" jhiTranslate="entity.validation.required">-->
                   <!--This field is required.-->
                <!--</small>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.dateofbirth" for="field_dateofbirth">Date Of Birth</label>
            <div class="input-group">
                <input id="field_dateofbirth" type="text" class="form-control" name="dateofbirth" ngbDatepicker  #dateofbirthDp="ngbDatepicker" [(ngModel)]="doctor.dateofbirth"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateofbirthDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.address" for="field_address">Address</label>
                        <input type="text" class="form-control" name="address" id="field_address"
                            [(ngModel)]="doctor.address" required/>
                        <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                            <small class="form-text text-danger"
                               [hidden]="!editForm.controls.address?.errors?.required" jhiTranslate="entity.validation.required">
                               This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.mobileno" for="field_mobileno">Mobile No.</label>
                    <input type="text" class="form-control" name="mobileno" id="field_mobileno"
                           [(ngModel)]="doctor.mobileno" required/>
                    <div [hidden]="!(editForm.controls.mobileno?.dirty && editForm.controls.mobileno?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.mobileno?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>City</label>
                    <select class="form-control" id="city" name="city" required>
                        <option value="Surat">Surat</option>
                        <option value="Rajkot">Rajkot</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Bhopal">Bhopal</option>
                        <option value="Kota">Kota</option>
                        <option value="Los Angeles">Los Angeles</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>State</label>
                    <select class="form-control" id="state" name="state" required>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Madhyapradesh">Madhyapradesh</option>
                        <option value="California">California</option>
                        <option value="Rajsthan">Rajsthan</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control" id="country" name="country" required>
                        <option value="India">India</option>
                        <option value="USA">USA</option>
                    </select>
                </div>
            </div>
        </div>

        <!--<div class="row">-->
            <!--<div class="col-md-6">-->
                <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.specialization" for="field_specialization">Specialization</label>-->
                <!--<select class="form-control" id="field_specialization" name="specialization" [(ngModel)]="doctor.specializationId" required="required">-->
                    <!--<option [ngValue]="specializationOption.id" *ngFor="let specializationOption of specializations; trackBy: trackSpecializationById">{{specializationOption.expertise}}</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.mobileno" for="field_mobileno">Mobile No.</label>-->
            <!--<input type="text" class="form-control" name="mobileno" id="field_mobileno"-->
                <!--[(ngModel)]="doctor.mobileno" required/>-->
            <!--<div [hidden]="!(editForm.controls.mobileno?.dirty && editForm.controls.mobileno?.invalid)">-->
                <!--<small class="form-text text-danger"-->
                   <!--[hidden]="!editForm.controls.mobileno?.errors?.required" jhiTranslate="entity.validation.required">-->
                   <!--This field is required.-->
                <!--</small>-->
            <!--</div>-->
        <!--</div>-->

        <!--Changes by jTrisha on 08/03/2018 || Added dropdown for Blood Group-->
        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.bloodgroup" for="field_bloodgroup">Bloodgroup</label>-->
            <!--<input type="text" class="form-control" name="bloodgroup" id="field_bloodgroup"-->
                <!--[(ngModel)]="doctor.bloodgroup" />-->
        <!--</div>-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.bloodgroup" for="field_bloodgroup">Blood Group</label>
                        <select class="form-control" name="bloodgroup" [(ngModel)]="doctor.bloodgroup" id="field_bloodgroup"  required>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                        </select>
                        <div [hidden]="!(editForm.controls.bloodgroup?.dirty && editForm.controls.bloodgroup?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.bloodgroup?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.exprience" for="field_exprience">Exprience</label>
                    <input type="number" class="form-control" name="exprience" id="field_exprience"
                           [(ngModel)]="doctor.exprience" min="0" required/>
                    <div [hidden]="!(editForm.controls.exprience?.dirty && editForm.controls.exprience?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.exprience?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.exprience?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

        <!---->
        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.exprience" for="field_exprience">Exprience</label>-->
            <!--<input type="number" class="form-control" name="exprience" id="field_exprience"-->
                <!--[(ngModel)]="doctor.exprience" min="0" required/>-->
            <!--<div [hidden]="!(editForm.controls.exprience?.dirty && editForm.controls.exprience?.invalid)">-->
                <!--<small class="form-text text-danger"-->
                   <!--[hidden]="!editForm.controls.exprience?.errors?.required" jhiTranslate="entity.validation.required">-->
                   <!--This field is required.-->
                <!--</small>-->
                <!--<small class="form-text text-danger"-->
                    <!--[hidden]="!editForm.controls.exprience?.errors?.number" jhiTranslate="entity.validation.number">-->
                    <!--This field should be a number.-->
                <!--</small>-->
            <!--</div>-->
        <!--</div>-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.licenceno" for="field_licenceno">Licence No.</label>
                        <input type="text" class="form-control" name="licenceno" id="field_licenceno"
                            [(ngModel)]="doctor.licenceno" required/>
                        <div [hidden]="!(editForm.controls.licenceno?.dirty && editForm.controls.licenceno?.invalid)">
                            <small class="form-text text-danger"
                               [hidden]="!editForm.controls.licenceno?.errors?.required" jhiTranslate="entity.validation.required">
                               This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.consultationcharge" for="field_consultationcharge">Consultation Charges</label>
                    <input type="number" class="form-control" name="consultationcharge" id="field_consultationcharge"
                           [(ngModel)]="doctor.consultationcharge" min="5" max="1000" step="1" required/>
                    <div [hidden]="!(editForm.controls.consultationcharge?.dirty && editForm.controls.consultationcharge?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.consultationcharge?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.consultationcharge?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.documents" for="field_documents">Documents</label>-->
            <!--<div>-->
                <!--<div *ngIf="doctor.documents" class="form-text text-danger clearfix">-->
                    <!--<a class="pull-left" (click)="openFile(doctor.documentsContentType, doctor.documents)" jhiTranslate="entity.action.open">Open</a><br>-->
                    <!--<span class="pull-left">{{doctor.documentsContentType}}, {{byteSize(doctor.documents)}}</span>-->
                    <!--<button type="button" (click)="doctor.documents=null;doctor.documentsContentType=null;"-->
                            <!--class="btn btn-secondary btn-xs pull-right">-->
                        <!--<span class="fa fa-times"></span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<input type="file" id="file_documents" (change)="setFileData($event, doctor, 'documents', false)" jhiTranslate="entity.action.addblob"/>-->
            <!--</div>-->
            <!--<input type="hidden" class="form-control" name="documents" id="field_documents"-->
                <!--[(ngModel)]="doctor.documents" required/>-->
            <!--<input type="hidden" class="form-control" name="documentsContentType" id="field_documentsContentType"-->
                <!--[(ngModel)]="doctor.documentsContentType" />-->
            <!--<div [hidden]="!(editForm.controls.documents?.dirty && editForm.controls.documents?.invalid)">-->
                <!--<small class="form-text text-danger"-->
                   <!--[hidden]="!editForm.controls.documents?.errors?.required" jhiTranslate="entity.validation.required">-->
                   <!--This field is required.-->
                <!--</small>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Skype</label>
                    <input type="text" class="form-control" name="skypeid" id="skypeid">
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.facebookid" for="field_facebookid">Facebook Username</label>
                <input type="text" class="form-control" name="facebookid" id="field_facebookid"
                       [(ngModel)]="doctor.facebookid" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.googleplusid" for="field_googleplusid">Google+ Username</label>
                    <input type="text" class="form-control" name="googleplusid" id="field_googleplusid"
                        [(ngModel)]="doctor.googleplusid" />
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.twitterid" for="field_twitterid">Twitter Username</label>
                <input type="text" class="form-control" name="twitterid" id="field_twitterid"
                       [(ngModel)]="doctor.twitterid" />
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.facebookid" for="field_facebookid">Facebook Username</label>-->
            <!--<input type="text" class="form-control" name="facebookid" id="field_facebookid"-->
                <!--[(ngModel)]="doctor.facebookid" />-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.twitterid" for="field_twitterid">Twitter Username</label>-->
            <!--<input type="text" class="form-control" name="twitterid" id="field_twitterid"-->
                <!--[(ngModel)]="doctor.twitterid" />-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.consultationcharge" for="field_consultationcharge">Consultation Charges</label>-->
            <!--<input type="number" class="form-control" name="consultationcharge" id="field_consultationcharge"-->
                <!--[(ngModel)]="doctor.consultationcharge" min="5" max="1000" step="1" required/>-->
            <!--<div [hidden]="!(editForm.controls.consultationcharge?.dirty && editForm.controls.consultationcharge?.invalid)">-->
                <!--<small class="form-text text-danger"-->
                   <!--[hidden]="!editForm.controls.consultationcharge?.errors?.required" jhiTranslate="entity.validation.required">-->
                   <!--This field is required.-->
                <!--</small>-->
                <!--<small class="form-text text-danger"-->
                    <!--[hidden]="!editForm.controls.consultationcharge?.errors?.number" jhiTranslate="entity.validation.number">-->
                    <!--This field should be a number.-->
                <!--</small>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.degree" for="field_degree">Degree</label>
                    <select class="form-control" id="field_degree" name="degree" [(ngModel)]="doctor.degreeId" required="required">
                        <option [ngValue]="degreeOption.id" *ngFor="let degreeOption of degrees; trackBy: trackDegreeById">{{degreeOption.degreename}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.specialization" for="field_specialization">Specialization</label>
                <select class="form-control" id="field_specialization" name="specialization" [(ngModel)]="doctor.specializationId" required="required">
                    <option [ngValue]="specializationOption.id" *ngFor="let specializationOption of specializations; trackBy: trackSpecializationById">{{specializationOption.expertise}}</option>
                </select>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctor.specialization" for="field_specialization">Specialization</label>-->
            <!--<select class="form-control" id="field_specialization" name="specialization" [(ngModel)]="doctor.specializationId" required="required">-->
                <!--<option [ngValue]="specializationOption.id" *ngFor="let specializationOption of specializations; trackBy: trackSpecializationById">{{specializationOption.expertise}}</option>-->
            <!--</select>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
