
<div *ngIf="pharmacistPayment">
    <h2><span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.detail.title">Pharmacist Payment</span> {{pharmacistPayment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.paymentDate">Payment Date</span></dt>
        <dd>
            <span>{{pharmacistPayment.paymentDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.totalamount">Totalamount</span></dt>
        <dd>
            <span>{{pharmacistPayment.totalamount}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.paymentmode">Paymentmode</span></dt>
        <dd>
            <span>{{pharmacistPayment.paymentmode}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.paymentStatus">Payment Status</span></dt>
        <dd>
            <span jhiTranslate="{{'telemedicineApplicationApp.Payment_Status.' + pharmacistPayment.paymentStatus}}">{{pharmacistPayment.paymentStatus}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.transcationid">Transcationid</span></dt>
        <dd>
            <span>{{pharmacistPayment.transcationid}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.orderMedicine">Order Medicine</span></dt>
        <dd>
            <div *ngIf="pharmacistPayment.orderMedicineId">
                <a [routerLink]="['/order-medicine', pharmacistPayment.orderMedicineId]">{{pharmacistPayment.orderMedicineId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
            [routerLink]="['/', { outlets: { popup: 'pharmacist-payment/'+ pharmacistPayment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
