<div>
    <h2>
        <span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.home.title">Pharmacist Payments</span>
        <button *jhiHasAnyAuthority="'ROLE_PATIENT'" class="btn btn-primary float-right jh-create-entity create-pharmacist-payment" [routerLink]="['/', { outlets: { popup: ['pharmacist-payment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.pharmacistPayment.home.createLabel">
            Create new Pharmacist Payment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'telemedicineApplicationApp.pharmacistPayment.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pharmacistPayments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentDate"><span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.paymentDate">Payment Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalamount"><span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.totalamount">Totalamount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentmode"><span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.paymentmode">Paymentmode</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentStatus"><span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.paymentStatus">Payment Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="transcationid"><span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.transcationid">Transcationid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderMedicineId"><span jhiTranslate="telemedicineApplicationApp.pharmacistPayment.orderMedicine">Order Medicine</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <tr *ngFor="let pharmacistPayment of pharmacistPayments ;trackBy: trackId">
                <td><a [routerLink]="['../pharmacist-payment', pharmacistPayment.id ]">{{pharmacistPayment.id}}</a></td>
                <td>{{pharmacistPayment.paymentDate | date:'mediumDate'}}</td>
                <td>{{pharmacistPayment.totalamount}}</td>
                <td>{{pharmacistPayment.paymentmode}}</td>
                <td jhiTranslate="{{'telemedicineApplicationApp.Payment_Status.' + pharmacistPayment.paymentStatus}}">{{pharmacistPayment.paymentStatus}}</td>
                <td>{{pharmacistPayment.transcationid}}</td>
                <td>
                    <div *ngIf="pharmacistPayment.orderMedicineId">
                        <a [routerLink]="['../order-medicine', pharmacistPayment.orderMedicineId  ]" >{{pharmacistPayment.orderMedicineId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pharmacist-payment', pharmacistPayment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pharmacist-payment/'+ pharmacistPayment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pharmacist-payment/'+ pharmacistPayment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody *jhiHasAnyAuthority="'ROLE_PHARMACIST'">
            <tr *ngFor="let pharmacistPayment of pharmacist_payments ;trackBy: trackId">
                <td><a [routerLink]="['../pharmacist-payment', pharmacistPayment.id ]">{{pharmacistPayment.id}}</a></td>
                <td>{{pharmacistPayment.paymentDate | date:'mediumDate'}}</td>
                <td>{{pharmacistPayment.totalamount}}</td>
                <td>{{pharmacistPayment.paymentmode}}</td>
                <td jhiTranslate="{{'telemedicineApplicationApp.Payment_Status.' + pharmacistPayment.paymentStatus}}">{{pharmacistPayment.paymentStatus}}</td>
                <td>{{pharmacistPayment.transcationid}}</td>
                <td>
                    <div *ngIf="pharmacistPayment.orderMedicineId">
                        <a [routerLink]="['../order-medicine', pharmacistPayment.orderMedicineId  ]" >{{pharmacistPayment.orderMedicineId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pharmacist-payment', pharmacistPayment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                       </div>
                </td>
            </tr>
            </tbody>
            <tbody *jhiHasAnyAuthority="'ROLE_PATIENT'">
            <tr *ngFor="let pharmacistPayment of patient_payments ;trackBy: trackId">
                <td><a [routerLink]="['../pharmacist-payment', pharmacistPayment.id ]">{{pharmacistPayment.id}}</a></td>
                <td>{{pharmacistPayment.paymentDate | date:'mediumDate'}}</td>
                <td>{{pharmacistPayment.totalamount}}</td>
                <td>{{pharmacistPayment.paymentmode}}</td>
                <td jhiTranslate="{{'telemedicineApplicationApp.Payment_Status.' + pharmacistPayment.paymentStatus}}">{{pharmacistPayment.paymentStatus}}</td>
                <td>{{pharmacistPayment.transcationid}}</td>
                <td>
                    <div *ngIf="pharmacistPayment.orderMedicineId">
                        <a [routerLink]="['../order-medicine', pharmacistPayment.orderMedicineId  ]" >{{pharmacistPayment.orderMedicineId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pharmacist-payment', pharmacistPayment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pharmacistPayments && pharmacistPayments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
