<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPharmacistPaymentLabel" jhiTranslate="telemedicineApplicationApp.pharmacistPayment.home.createOrEditLabel">Create or edit a Pharmacist Payment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pharmacistPayment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pharmacistPayment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.pharmacistPayment.paymentDate" for="field_paymentDate">Payment Date</label>
            <div class="input-group">
                <input id="field_paymentDate" type="text" class="form-control" name="paymentDate" ngbDatepicker  #paymentDateDp="ngbDatepicker" [(ngModel)]="pharmacistPayment.paymentDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="paymentDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.paymentDate?.dirty && editForm.controls.paymentDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.paymentDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.pharmacistPayment.orderMedicine" for="field_orderMedicine">Order Medicine</label>
            <select class="form-control" id="field_orderMedicine" name="orderMedicine" [(ngModel)]="pharmacistPayment.orderMedicineId" (change)="getTotalAmount()">
                <option [ngValue]="null"></option>
                <option [ngValue]="orderMedicineOption.id" *ngFor="let orderMedicineOption of ordermedicines; trackBy: trackOrderMedicineById">{{orderMedicineOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.pharmacistPayment.totalamount" for="field_totalamount">Totalamount</label>
            <input type="number" class="form-control" name="totalamount" id="field_totalamount"
                [(ngModel)]="pharmacistPayment.totalamount" required/>
            <!--<select type="number" class="form-control" name="totalamount" id="field_totalamount"-->
                   <!--[(ngModel)]="pharmacistPayment.totalamount" required>-->
            <!--<option [ngValue]="order_medicines.totalamount"></option>-->
            <!--</select>-->
            <div [hidden]="!(editForm.controls.totalamount?.dirty && editForm.controls.totalamount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.totalamount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.totalamount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.pharmacistPayment.paymentmode" for="field_paymentmode">Paymentmode</label>
            <input type="text" class="form-control" name="paymentmode" id="field_paymentmode"
                [(ngModel)]="pharmacistPayment.paymentmode" required/>
            <div [hidden]="!(editForm.controls.paymentmode?.dirty && editForm.controls.paymentmode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.paymentmode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.pharmacistPayment.paymentStatus" for="field_paymentStatus">Payment Status</label>
            <select class="form-control" name="paymentStatus" [(ngModel)]="pharmacistPayment.paymentStatus" id="field_paymentStatus"  required>
                <option value="PAID">{{'telemedicineApplicationApp.Payment_Status.PAID' | translate}}</option>
                <option value="UNPAID">{{'telemedicineApplicationApp.Payment_Status.UNPAID' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.paymentStatus?.dirty && editForm.controls.paymentStatus?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.paymentStatus?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.pharmacistPayment.transcationid" for="field_transcationid">Transcationid</label>
            <input type="text" class="form-control" name="transcationid" id="field_transcationid"
                [(ngModel)]="pharmacistPayment.transcationid" required/>
            <div [hidden]="!(editForm.controls.transcationid?.dirty && editForm.controls.transcationid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.transcationid?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
       <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
        <!--<a href="https://www.payumoney.com/sandbox/paybypayumoney/#/1DF1CA6F48DC685AE6E2F1CD52B67E8C" target="_blank" >-->
            <!--<button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">-->
                <!--<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>-->
            <!--</button>-->
        <!--</a>-->
    </div>
</form>
