
<div class="row">
    <div class="col-md-12">
        <h4 jhiTranslate="report.filter.title">Filter by date</h4>
        <hr>
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text" jhiTranslate="report.filter.from">from</span>
            </div>
            <input type="date" class="form-control" name="start" [(ngModel)]="fromDate" required/>
        </div>
        <div class="input-group mb-4">

            <div class="input-group-append">
                <span class="input-group-text" jhiTranslate="report.filter.to">To</span>
            </div>
            <input type="date" class="form-control" name="end" [(ngModel)]="toDate" required/>
        </div>

        <div class="input-group mb-4">

            <div class="input-group-append">
                <span class="input-group-text" jhiTranslate="report.filter.type">Type</span>
            </div>
            <select class="form-control" name="reportType"  id="reportType" [(ngModel)]="reportType" required>
                <option value="total_appointments">Total Appointments</option>
                <option value="total_profit">Total Profit</option>
                <option value="total_members">Total Members</option>
            </select>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary float-right jh-create-entity create-degree" (click)="generateReport()">
            <span class="hidden-sm-down"  jhiTranslate="report.filter.generate">Generate</span>
        </button>
    </div>
</div>
<br/><br/>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <br/>
                    <div class="table-responsive" *ngIf="flag">
                        <table class="table table-striped">
                            <thead>
                            <tr><th colspan="7"><h4 style="font-weight: bold; text-align: center">Patient's Report</h4></th></tr>
                            <tr>
                                <th>ID</th>
                                <th>Firstname</th>
                                <th>Gender</th>
                                <th>DOB</th>
                                <th>Address</th>
                                <th>Mobileno</th>
                                <th>Blood Group</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr *ngFor="let patient of patients ;trackBy: trackId">
                                <td>{{patient.id}}</td>
                                <td>{{patient.firstname}}</td>
                                <td>{{patient.gender}}</td>
                                <td>{{patient.dateofbirth | date:'mediumDate'}}</td>
                                <td>{{patient.address}}</td>
                                <td>{{patient.mobileno}}</td>
                                <td>{{patient.bloodgroup}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <br/>
                        <button class="btn btn-primary float-left jh-create-entity create-degree" (click)="print('table table-striped')">
                            <span class="hidden-sm-down"  jhiTranslate="report.filter.print">Print</span>
                        </button>
                        <button class="btn btn-primary float-right jh-create-entity create-degree" [routerLink]="['/', { outlets: { popup: ['degree-new'] } }]">
                            <span class="hidden-sm-down"  jhiTranslate="report.filter.pdf">PDF</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

