<div *ngIf="patient">
    <h2><span jhiTranslate="telemedicineApplicationApp.patient.detail.title">Patient</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <!--<tr><span jhiTranslate="telemedicineApplicationApp.doctor.photo">Photo</span></tr>-->
                        <td>
                            <div *ngIf="patient.photo">
                                <a (click)="openFile(patient.photoContentType, patient.photo)">
                                    <img [src]="'data:' + patient.photoContentType + ';base64,' + patient.photo"
                                         style="witrh: 300px; height: 300px;" alt="patient image"/>
                                </a>
                                <!--{{patient.photoContentType}}, {{byteSize(patient.photo)}}-->
                            </div>
                        </td>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4><span jhiTranslate="telemedicineApplicationApp.doctor.detail.personaldetail">Personal Detail</span></h4>
                    <hr>
                    <div class="d-flex flex-row">
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.patient.firstname">Firstname</span>
                            <td>
                                <span>{{patient.firstname}}</span>
                            </td>
                        </tr>

                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.patient.lastname">Lastname</span>
                            <td>
                                <span>{{patient.lastname}}</span>
                            </td>
                        </tr>

                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.patient.status">Status</span>
                            <td>
                                <span jhiTranslate="{{'telemedicineApplicationApp.Process_Status.' + patient.status}}">{{patient.status}}</span>
                            </td>
                        </tr>

                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.patient.gender">Gender</span>
                            <td>
                                <span jhiTranslate="{{'telemedicineApplicationApp.Gender.' + patient.gender}}">{{patient.gender}}</span>
                            </td>
                        </tr>

                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.patient.dateofbirth">Dateofbirth</span>
                            <td>
                                <span>{{patient.dateofbirth | date:'mediumDate'}}</span>
                            </td>
                        </tr>

                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.patient.address">Address</span>
                            <td>
                                <span>{{patient.address}}</span>
                            </td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.patient.mobileno">Mobileno</span>
                            <td>
                                <span>{{patient.mobileno}}</span>
                            </td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.patient.bloodgroup">Bloodgroup</span>
                            <td>
                                <span>{{patient.bloodgroup}}</span>
                            </td>
                        </tr>
                        <tr>
                            <span style="font-weight: bold" jhiTranslate="telemedicineApplicationApp.patient.history">History</span>
                            <td>
                                <span>{{patient.history}}</span>
                            </td>
                        </tr>
                        <br/>
                    </div>
                    <div class="d-flex flex-row">
                        <hr>

                        <button type="submit"
                                (click)="previousState()"
                                class="btn btn-info">
                            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                        </button>

                        <button type="button"
                                [routerLink]="['/', { outlets: { popup: 'patient/'+ patient.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary">
                            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                Patient History
            </div>
        </div>
    </div>
</div>


