<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPatientLabel" jhiTranslate="telemedicineApplicationApp.patient.home.createOrEditLabel">Create or Edit a Patient</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!patient.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="patient.id" readonly />
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.firstname" for="field_firstname">First Name</label>
                    <input type="text" class="form-control" name="firstname" id="field_firstname"
                        [(ngModel)]="patient.firstname" required/>
                    <div [hidden]="!(editForm.controls.firstname?.dirty && editForm.controls.firstname?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.firstname?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.lastname" for="field_lastname">Last Name</label>
                <input type="text" class="form-control" name="lastname" id="field_lastname"
                       [(ngModel)]="patient.lastname" required/>
                <div [hidden]="!(editForm.controls.lastname?.dirty && editForm.controls.lastname?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.lastname?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.lastname" for="field_lastname">Last Name</label>-->
            <!--<input type="text" class="form-control" name="lastname" id="field_lastname"-->
                <!--[(ngModel)]="patient.lastname" required/>-->
            <!--<div [hidden]="!(editForm.controls.lastname?.dirty && editForm.controls.lastname?.invalid)">-->
                <!--<small class="form-text text-danger"-->
                   <!--[hidden]="!editForm.controls.lastname?.errors?.required" jhiTranslate="entity.validation.required">-->
                   <!--This field is required.-->
                <!--</small>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.photo" for="field_photo">Photo</label>
            <div>
                <img [src]="'data:' + patient.photoContentType + ';base64,' + patient.photo" style="max-height: 100px;" *ngIf="patient.photo" alt="patient image"/>
                <div *ngIf="patient.photo" class="form-text text-danger clearfix">
                    <span class="pull-left">{{patient.photoContentType}}, {{byteSize(patient.photo)}}</span>
                    <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_photo" (change)="setFileData($event, patient, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                   [(ngModel)]="patient.photo" />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                   [(ngModel)]="patient.photoContentType" />
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Skype</label>
                    <input type="text" class="form-control" name="skypeid" id="skypeid"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="patient.status" id="field_status" >
                        <option value="ACTIVE">{{'telemedicineApplicationApp.Process_Status.ACTIVE' | translate}}</option>
                        <option value="DEACTIVE">{{'telemedicineApplicationApp.Process_Status.DEACTIVE' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.photo" for="field_photo">Photo</label>-->
            <!--<div>-->
                <!--<img [src]="'data:' + patient.photoContentType + ';base64,' + patient.photo" style="max-height: 100px;" *ngIf="patient.photo" alt="patient image"/>-->
                <!--<div *ngIf="patient.photo" class="form-text text-danger clearfix">-->
                    <!--<span class="pull-left">{{patient.photoContentType}}, {{byteSize(patient.photo)}}</span>-->
                    <!--<button type="button" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">-->
                        <!--<span class="fa fa-times"></span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<input type="file" id="file_photo" (change)="setFileData($event, patient, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>-->
            <!--</div>-->
            <!--<input type="hidden" class="form-control" name="photo" id="field_photo"-->
                <!--[(ngModel)]="patient.photo" />-->
            <!--<input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"-->
                <!--[(ngModel)]="patient.photoContentType" />-->
        <!--</div>-->

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" [(ngModel)]="patient.gender" id="field_gender"  required>
                        <option value="MALE">{{'telemedicineApplicationApp.Gender.MALE' | translate}}</option>
                        <option value="FEMALE">{{'telemedicineApplicationApp.Gender.FEMALE' | translate}}</option>
                        <option value="OTHER">{{'telemedicineApplicationApp.Gender.OTHER' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.gender?.dirty && editForm.controls.gender?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.gender?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.dateofbirth" for="field_dateofbirth">Date Of Birth</label>
                <div class="input-group">
                    <input id="field_dateofbirth" type="text" class="form-control" name="dateofbirth" ngbDatepicker  #dateofbirthDp="ngbDatepicker" [(ngModel)]="patient.dateofbirth"
                    />
                    <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateofbirthDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
                </div>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.dateofbirth" for="field_dateofbirth">Date Of Birth</label>-->
            <!--<div class="input-group">-->
                <!--<input id="field_dateofbirth" type="text" class="form-control" name="dateofbirth" ngbDatepicker  #dateofbirthDp="ngbDatepicker" [(ngModel)]="patient.dateofbirth"-->
                <!--/>-->
                <!--<span class="input-group-append">-->
                    <!--<button type="button" class="btn btn-secondary" (click)="dateofbirthDp.toggle()"><i class="fa fa-calendar"></i></button>-->
                <!--</span>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="patient.address" required/>
                    <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.address?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.mobileno" for="field_mobileno">Mobile No.</label>
                <input type="text" class="form-control" name="mobileno" id="field_mobileno"
                       [(ngModel)]="patient.mobileno" required/>
                <div [hidden]="!(editForm.controls.mobileno?.dirty && editForm.controls.mobileno?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.mobileno?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>City</label>
                    <select class="form-control" id="city" name="city" required>
                        <option value="Surat">Surat</option>
                        <option value="Rajkot">Rajkot</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Bhopal">Bhopal</option>
                        <option value="Kota">Kota</option>
                        <option value="Los Angeles">Los Angeles</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>State</label>
                    <select class="form-control" id="state" name="state" required>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Madhyapradesh">Madhyapradesh</option>
                        <option value="California">California</option>
                        <option value="Rajsthan">Rajsthan</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control" id="country" name="country" required>
                        <option value="India">India</option>
                        <option value="USA">USA</option>
                    </select>
                </div>
            </div>
        </div>


        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.mobileno" for="field_mobileno">Mobile No.</label>-->
            <!--<input type="text" class="form-control" name="mobileno" id="field_mobileno"-->
                <!--[(ngModel)]="patient.mobileno" required/>-->
            <!--<div [hidden]="!(editForm.controls.mobileno?.dirty && editForm.controls.mobileno?.invalid)">-->
                <!--<small class="form-text text-danger"-->
                   <!--[hidden]="!editForm.controls.mobileno?.errors?.required" jhiTranslate="entity.validation.required">-->
                   <!--This field is required.-->
                <!--</small>-->
            <!--</div>-->
        <!--</div>-->

        <!--Changes by jTrisha on 08/03/2018 || Added dropdown for Blood Group-->
        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.bloodgroup" for="field_bloodgroup">Bloodgroup</label>-->
            <!--<input type="text" class="form-control" name="bloodgroup" id="field_bloodgroup"-->
                <!--[(ngModel)]="patient.bloodgroup" required/>-->
            <!--<div [hidden]="!(editForm.controls.bloodgroup?.dirty && editForm.controls.bloodgroup?.invalid)">-->
                <!--<small class="form-text text-danger"-->
                   <!--[hidden]="!editForm.controls.bloodgroup?.errors?.required" jhiTranslate="entity.validation.required">-->
                   <!--This field is required.-->
                <!--</small>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.bloodgroup" for="field_bloodgroup">Blood Group</label>
                    <select class="form-control" name="bloodgroup" [(ngModel)]="patient.bloodgroup" id="field_bloodgroup"  required>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                    <div [hidden]="!(editForm.controls.bloodgroup?.dirty && editForm.controls.bloodgroup?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.bloodgroup?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.history" for="field_history">History</label>
                <input type="text" class="form-control" name="history" id="field_history"
                       [(ngModel)]="patient.history" required/>
                <div [hidden]="!(editForm.controls.history?.dirty && editForm.controls.history?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.history?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>
        <!---->

        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.patient.history" for="field_history">History</label>-->
            <!--<input type="text" class="form-control" name="history" id="field_history"-->
                <!--[(ngModel)]="patient.history" required/>-->
            <!--<div [hidden]="!(editForm.controls.history?.dirty && editForm.controls.history?.invalid)">-->
                <!--<small class="form-text text-danger"-->
                   <!--[hidden]="!editForm.controls.history?.errors?.required" jhiTranslate="entity.validation.required">-->
                   <!--This field is required.-->
                <!--</small>-->
            <!--</div>-->
        <!--</div>-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
