<div>
    <h2>
        <span jhiTranslate="telemedicineApplicationApp.patient.home.title">Patients</span>
        <button class="btn btn-primary float-right jh-create-entity create-patient" [routerLink]="['/', { outlets: { popup: ['patient-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.patient.home.createLabel">
            Create new Patient
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'telemedicineApplicationApp.patient.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="patients">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstname"><span jhiTranslate="telemedicineApplicationApp.patient.firstname">Firstname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastname"><span jhiTranslate="telemedicineApplicationApp.patient.lastname">Lastname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="telemedicineApplicationApp.patient.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="photo"><span jhiTranslate="telemedicineApplicationApp.patient.photo">Photo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gender"><span jhiTranslate="telemedicineApplicationApp.patient.gender">Gender</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateofbirth"><span jhiTranslate="telemedicineApplicationApp.patient.dateofbirth">Dateofbirth</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address"><span jhiTranslate="telemedicineApplicationApp.patient.address">Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mobileno"><span jhiTranslate="telemedicineApplicationApp.patient.mobileno">Mobileno</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bloodgroup"><span jhiTranslate="telemedicineApplicationApp.patient.bloodgroup">Bloodgroup</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="history"><span jhiTranslate="telemedicineApplicationApp.patient.history">History</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patient of patients ;trackBy: trackId">
                <td><a [routerLink]="['../patient', patient.id ]">{{patient.id}}</a></td>
                <td>{{patient.firstname}}</td>
                <td>{{patient.lastname}}</td>
                <td jhiTranslate="{{'telemedicineApplicationApp.Process_Status.' + patient.status}}">{{patient.status}}</td>
                <td>
                    <a *ngIf="patient.photo" (click)="openFile(patient.photoContentType, patient.photo)">
                        <img [src]="'data:' + patient.photoContentType + ';base64,' + patient.photo" style="max-height: 30px;" alt="patient image"/>
                    </a>
                    <span *ngIf="patient.photo">{{patient.photoContentType}}, {{byteSize(patient.photo)}}</span>
                </td>
                <td jhiTranslate="{{'telemedicineApplicationApp.Gender.' + patient.gender}}">{{patient.gender}}</td>
                <td>{{patient.dateofbirth | date:'mediumDate'}}</td>
                <td>{{patient.address}}</td>
                <td>{{patient.mobileno}}</td>
                <td>{{patient.bloodgroup}}</td>
                <td>{{patient.history}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../patient', patient.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'patient/'+ patient.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'patient/'+ patient.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="patients && patients.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
