<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPaymentLabel" jhiTranslate="telemedicineApplicationApp.payment.home.createOrEditLabel">Create or edit a Payment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!payment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="payment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.payment.paymentdate" for="field_paymentdate">Paymentdate</label>
            <div class="input-group">
                <input id="field_paymentdate" type="text" class="form-control" name="paymentdate" ngbDatepicker  #paymentdateDp="ngbDatepicker" [(ngModel)]="payment.paymentdate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="paymentdateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.paymentdate?.dirty && editForm.controls.paymentdate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.paymentdate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.payment.totalamount" for="field_totalamount">Totalamount</label>
            <input type="number" class="form-control" name="totalamount" id="field_totalamount"
                [(ngModel)]="payment.totalamount" required/>
            <div [hidden]="!(editForm.controls.totalamount?.dirty && editForm.controls.totalamount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.totalamount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.totalamount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.payment.paymentmethod" for="field_paymentmethod">Paymentmethod</label>
            <input type="text" class="form-control" name="paymentmethod" id="field_paymentmethod"
                [(ngModel)]="payment.paymentmethod" required/>
            <div [hidden]="!(editForm.controls.paymentmethod?.dirty && editForm.controls.paymentmethod?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.paymentmethod?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.payment.transactionid" for="field_transactionid">Transactionid</label>
            <input type="text" class="form-control" name="transactionid" id="field_transactionid"
                [(ngModel)]="payment.transactionid" required/>
            <div [hidden]="!(editForm.controls.transactionid?.dirty && editForm.controls.transactionid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.transactionid?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.payment.appointment" for="field_appointment">Appointment</label>
            <select class="form-control" id="field_appointment" name="appointment" [(ngModel)]="payment.appointmentId">
                <option [ngValue]="null"></option>
                <option [ngValue]="appointmentOption.id" *ngFor="let appointmentOption of patientAppointments; trackBy: trackAppointmentById">{{appointmentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
