
<div *ngIf="payment">
    <h2><span jhiTranslate="telemedicineApplicationApp.payment.detail.title">Payment</span> {{payment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="telemedicineApplicationApp.payment.paymentdate">Paymentdate</span></dt>
        <dd>
            <span>{{payment.paymentdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.payment.totalamount">Totalamount</span></dt>
        <dd>
            <span>{{payment.totalamount}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.payment.paymentmethod">Paymentmethod</span></dt>
        <dd>
            <span>{{payment.paymentmethod}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.payment.transactionid">Transactionid</span></dt>
        <dd>
            <span>{{payment.transactionid}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.payment.appointment">Appointment</span></dt>
        <dd>
            <div *ngIf="payment.appointmentId">
                <a [routerLink]="['/appointment', payment.appointmentId]">{{payment.appointmentId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'payment/'+ payment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
