<div>
    <h2>
        <span jhiTranslate="telemedicineApplicationApp.payment.home.title">Payments</span>
        <button *jhiHasAnyAuthority="'ROLE_PATIENT'" class="btn btn-primary float-right jh-create-entity create-payment" [routerLink]="['/', { outlets: { popup: ['payment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.payment.home.createLabel">
            Create new Payment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'telemedicineApplicationApp.payment.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="payments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentdate"><span jhiTranslate="telemedicineApplicationApp.payment.paymentdate">Paymentdate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalamount"><span jhiTranslate="telemedicineApplicationApp.payment.totalamount">Totalamount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentmethod"><span jhiTranslate="telemedicineApplicationApp.payment.paymentmethod">Paymentmethod</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="transactionid"><span jhiTranslate="telemedicineApplicationApp.payment.transactionid">Transactionid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="appointmentId"><span jhiTranslate="telemedicineApplicationApp.payment.appointment">Appointment</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <tr *ngFor="let payment of payments ;trackBy: trackId">
                <td><a [routerLink]="['../payment', payment.id ]">{{payment.id}}</a></td>
                <td>{{payment.paymentdate | date:'mediumDate'}}</td>
                <td>{{payment.totalamount}}</td>
                <td>{{payment.paymentmethod}}</td>
                <td>{{payment.transactionid}}</td>
                <td>
                    <div *ngIf="payment.appointmentId">
                        <a [routerLink]="['../appointment', payment.appointmentId  ]" >{{payment.appointmentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../payment', payment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'payment/'+ payment.id + '/edit'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="fa fa-pencil"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'payment/'+ payment.id + '/delete'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="fa fa-remove"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                        <!--</button>-->
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody *jhiHasAnyAuthority="'ROLE_DOCTOR'">
            <tr *ngFor="let payment of doctor_payments ;trackBy: trackId">
                <td><a [routerLink]="['../payment', payment.id ]">{{payment.id}}</a></td>
                <td>{{payment.paymentdate | date:'mediumDate'}}</td>
                <td>{{payment.totalamount}}</td>
                <td>{{payment.paymentmethod}}</td>
                <td>{{payment.transactionid}}</td>
                <td>
                    <div *ngIf="payment.appointmentId">
                        <a [routerLink]="['../appointment', payment.appointmentId  ]" >{{payment.appointmentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../payment', payment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody *jhiHasAnyAuthority="'ROLE_PATIENT'">
            <tr *ngFor="let payment of patient_payments ;trackBy: trackId">
                <td><a [routerLink]="['../payment', payment.id ]">{{payment.id}}</a></td>
                <td>{{payment.paymentdate | date:'mediumDate'}}</td>
                <td>{{payment.totalamount}}</td>
                <td>{{payment.paymentmethod}}</td>
                <td>{{payment.transactionid}}</td>
                <td>
                    <div *ngIf="payment.appointmentId">
                        <a [routerLink]="['../appointment', payment.appointmentId  ]" >{{payment.appointmentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../payment', payment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="payments && payments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
