
<div *ngIf="pharmacist">
    <h2><span jhiTranslate="telemedicineApplicationApp.pharmacist.detail.title">Pharmacist</span> {{pharmacist.shopname}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="telemedicineApplicationApp.pharmacist.shopname">Shopname</span></dt>
        <dd>
            <span>{{pharmacist.shopname}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.pharmacist.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'telemedicineApplicationApp.Process_Status.' + pharmacist.status}}">{{pharmacist.status}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.pharmacist.shopaddress">Shopaddress</span></dt>
        <dd>
            <span>{{pharmacist.shopaddress}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.pharmacist.phoneno">Phoneno</span></dt>
        <dd>
            <span>{{pharmacist.phoneno}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.pharmacist.licenceno">Licenceno</span></dt>
        <dd>
            <span>{{pharmacist.licenceno}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.pharmacist.documents">Documents</span></dt>
        <dd>
            <div *ngIf="pharmacist.documents">
                <a (click)="openFile(pharmacist.documentsContentType, pharmacist.documents)" jhiTranslate="entity.action.open">open</a>
                {{pharmacist.documentsContentType}}, {{byteSize(pharmacist.documents)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_PHARMACIST'" type="button"
            [routerLink]="['/', { outlets: { popup: 'pharmacist/'+ pharmacist.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
