<script src="../order-medicine/order-medicine.component.ts"></script>
<div>
    <h2>
        <span jhiTranslate="telemedicineApplicationApp.pharmacist.home.title">Pharmacists</span>
        <!--<button class="btn btn-primary float-right jh-create-entity create-pharmacist" [routerLink]="['/', { outlets: { popup: ['pharmacist-new'] } }]">-->
            <!--<span class="fa fa-plus"></span>-->
            <!--<span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.pharmacist.home.createLabel">-->
            <!--Create new Pharmacist-->
            <!--</span>-->
        <!--</button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'telemedicineApplicationApp.pharmacist.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pharmacists">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shopname"><span jhiTranslate="telemedicineApplicationApp.pharmacist.shopname">Shopname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="telemedicineApplicationApp.pharmacist.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shopaddress"><span jhiTranslate="telemedicineApplicationApp.pharmacist.shopaddress">Shopaddress</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phoneno"><span jhiTranslate="telemedicineApplicationApp.pharmacist.phoneno">Phoneno</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="licenceno"><span jhiTranslate="telemedicineApplicationApp.pharmacist.licenceno">Licenceno</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="documents"><span jhiTranslate="telemedicineApplicationApp.pharmacist.documents">Documents</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pharmacist of pharmacists ;trackBy: trackId">
                <td><a [routerLink]="['../pharmacist', pharmacist.id ]">{{pharmacist.id}}</a></td>
                <td>{{pharmacist.shopname}}</td>
                <td jhiTranslate="{{'telemedicineApplicationApp.Process_Status.' + pharmacist.status}}">{{pharmacist.status}}</td>
                <td>{{pharmacist.shopaddress}}</td>
                <td>{{pharmacist.phoneno}}</td>
                <td>{{pharmacist.licenceno}}</td>
                <td>
                    <a *ngIf="pharmacist.documents" (click)="openFile(pharmacist.documentsContentType, pharmacist.documents)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="pharmacist.documents">{{pharmacist.documentsContentType}}, {{byteSize(pharmacist.documents)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pharmacist', pharmacist.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <!--<button *jhiHasAnyAuthority="'ROLE_PHARMACIST'" type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'pharmacist/'+ pharmacist.id + '/edit'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="fa fa-pencil"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                        <!--</button>-->
                        <!--<button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'pharmacist/'+ pharmacist.id + '/delete'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="fa fa-remove"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                        <!--</button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pharmacists && pharmacists.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
