<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPharmacistLabel" jhiTranslate="telemedicineApplicationApp.pharmacist.home.createOrEditLabel">Create or edit a Pharmacist</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pharmacist.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pharmacist.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.pharmacist.shopname" for="field_shopname">Shopname</label>
            <input type="text" class="form-control" name="shopname" id="field_shopname"
                [(ngModel)]="pharmacist.shopname" required/>
            <div [hidden]="!(editForm.controls.shopname?.dirty && editForm.controls.shopname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.shopname?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Skype</label>
                    <input type="text" class="form-control" name="skypeid" id="skypeid"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.pharmacist.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="pharmacist.status" id="field_status" >
                        <option value="ACTIVE">{{'telemedicineApplicationApp.Process_Status.ACTIVE' | translate}}</option>
                        <option value="DEACTIVE">{{'telemedicineApplicationApp.Process_Status.DEACTIVE' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.pharmacist.shopaddress" for="field_shopaddress">Shopaddress</label>
                    <input type="text" class="form-control" name="shopaddress" id="field_shopaddress"
                        [(ngModel)]="pharmacist.shopaddress" required/>
                    <div [hidden]="!(editForm.controls.shopaddress?.dirty && editForm.controls.shopaddress?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.shopaddress?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.pharmacist.phoneno" for="field_phoneno">Phoneno</label>
                <input type="text" class="form-control" name="phoneno" id="field_phoneno"
                       [(ngModel)]="pharmacist.phoneno" required/>
                <div [hidden]="!(editForm.controls.phoneno?.dirty && editForm.controls.phoneno?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.phoneno?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>City</label>
                    <select class="form-control" id="city" name="city" required>
                        <option value="Surat">Surat</option>
                        <option value="Rajkot">Rajkot</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Bhopal">Bhopal</option>
                        <option value="Kota">Kota</option>
                        <option value="Los Angeles">Los Angeles</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>State</label>
                    <select class="form-control" id="state" name="state" required>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Madhyapradesh">Madhyapradesh</option>
                        <option value="California">California</option>
                        <option value="Rajsthan">Rajsthan</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control" id="country" name="country" required>
                        <option value="India">India</option>
                        <option value="USA">USA</option>
                    </select>
                </div>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.pharmacist.phoneno" for="field_phoneno">Phoneno</label>-->
            <!--<input type="text" class="form-control" name="phoneno" id="field_phoneno"-->
                <!--[(ngModel)]="pharmacist.phoneno" required/>-->
            <!--<div [hidden]="!(editForm.controls.phoneno?.dirty && editForm.controls.phoneno?.invalid)">-->
                <!--<small class="form-text text-danger"-->
                   <!--[hidden]="!editForm.controls.phoneno?.errors?.required" jhiTranslate="entity.validation.required">-->
                   <!--This field is required.-->
                <!--</small>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.pharmacist.licenceno" for="field_licenceno">Licenceno</label>
            <input type="text" class="form-control" name="licenceno" id="field_licenceno"
                [(ngModel)]="pharmacist.licenceno" required/>
            <div [hidden]="!(editForm.controls.licenceno?.dirty && editForm.controls.licenceno?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.licenceno?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.pharmacist.documents" for="field_documents">Documents</label>
            <div>
                <div *ngIf="pharmacist.documents" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(pharmacist.documentsContentType, pharmacist.documents)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{pharmacist.documentsContentType}}, {{byteSize(pharmacist.documents)}}</span>
                    <button type="button" (click)="pharmacist.documents=null;pharmacist.documentsContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_documents" (change)="setFileData($event, pharmacist, 'documents', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="documents" id="field_documents"
                [(ngModel)]="pharmacist.documents" required/>
            <input type="hidden" class="form-control" name="documentsContentType" id="field_documentsContentType"
                [(ngModel)]="pharmacist.documentsContentType" />
            <div [hidden]="!(editForm.controls.documents?.dirty && editForm.controls.documents?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.documents?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
