<div class="bg-white">
    <div class="container header-contant-block">
        <div class="row">
            <div class="jh-logo-container float-left col-md-4">
                <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                    <i class="fa fa-bars"></i>
                </a>
                <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
                    <span class="logo-img"></span>
                    <span jhiTranslate="global.title" class="navbar-title">Telemedicine</span>
                </a>
            </div>
            <div class="col-md-4">
                <br/><h6 class="text-primary"><i class="fa fa-phone"></i> Call Us :- +0 123-456-7890 </h6>
            </div>
            <div class="col-md-4">
                <br/><h6 class="text-primary"><i class="fa fa-envelope-o"></i> Send us a Mail : info@telemedicine.com</h6>
            </div>
        </div>
    </div>
</div>
<div [ngSwitch]="isAuthenticated()">
    <div *ngSwitchCase="false">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="../../../content/images/slider1.jpg" alt="Random first slide" style="width: 1600px !important; height: 506px !important;">
                <div class="carousel-caption">

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../../content/images/slider2.jpg" alt="Random second slide" style="width: 1600px !important; height: 506px !important;">
                <div class="carousel-caption">

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../../content/images/slider3.jpg" alt="Random third slide" style="width: 1600px !important; height: 506px !important;">
                <div class="carousel-caption">

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../../content/images/slider4.jpg" alt="Random third slide" style="width: 1600px !important; height: 506px !important;">
                <div class="carousel-caption">

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../../content/images/slider5.jpg" alt="Random third slide" style="width: 1600px !important; height: 506px !important;">
                <div class="carousel-caption">

                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()" style=" text-align: center; vertical-align: middle; display: inline-block; ">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>

            <li *ngIf=" account != null && account.verified == true && account.usertype == 'Doctor' && doctor != null" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <!--<li *jhiHasAnyAuthority="'ROLE_DOCTOR'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu-doctor">
                    <span>
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.entities.main">
                            Menu
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-dashboard" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.dashboard">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" [routerLink]="['../doctor', doctor.id ]">
                            <i class="fa fa-fw fa-user-md" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.doctor">Doctor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="checkup" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-stethoscope" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.checkup">Check Up</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="doctor-schedule" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.doctorSchedule">Doctor Schedule</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="appointment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-address-card" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.appointment">Appointment</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="payment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-cc-mastercard" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.payment">Payment</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="prescription" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-plus-square" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.prescription">Prescription</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *ngIf=" account != null && account.verified == true && account.usertype == 'Patient' && patient != null" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <!--<li *jhiHasAnyAuthority="'ROLE_PATIENT'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu-patient">
                    <span>
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.entities.main">
                            Menu
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-dashboard" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.dashboard">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" [routerLink]="['../patient', patient.id ]">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.patient">Patient</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="appointment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-address-card" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.appointment">Appointment</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="payment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-cc-mastercard" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.payment">Payment</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="prescription" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-plus-square" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.prescription">Prescription</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pharmacist" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-circle" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.pharmacist">Pharmacist</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="order-medicine" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-first-order" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.orderMedicine">Order Medicine</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pharmacist-payment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-money" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.pharmacistPayment">Pharmacist Payment</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="report" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-area-chart" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.reports">Report</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *ngIf=" account != null && account.verified == true && account.usertype == 'Pharmacist' && pharmacist != null" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <!--<li *jhiHasAnyAuthority="'ROLE_PHARMACIST'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu-pharmacist">
                    <span>
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.entities.main">
                            Menu
                        </span>
                    </span>
                </a>
                </span>
                </span>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-dashboard" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.dashboard">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" [routerLink]="['../pharmacist', pharmacist.id ]">
                            <i class="fa fa-fw fa-user-circle" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.pharmacist">Pharmacist</span>
                        </a>
                    </li>
                    <!--<li>-->
                    <!--<a class="dropdown-item" routerLink="prescription" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
                    <!--<i class="fa fa-fw fa-plus-square" aria-hidden="true"></i>-->
                    <!--<span jhiTranslate="global.menu.entities.prescription">Prescription</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a class="dropdown-item" routerLink="order-medicine" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-first-order" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.orderMedicine">Order Medicine</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pharmacist-payment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-money" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.pharmacistPayment">Pharmacist Payment</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="reports" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-area-chart" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.reports">Reports</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.entities.main">
                            Menu
                        </span>
                    </span>
                </a>
                </span>
                </span>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-dashboard" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.dashboard">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="degree" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-certificate" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.degree">Degree</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="specialization" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-star" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.specialization">Specialization</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="patient-issue" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-question-circle" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.patientIssue">Patient Issue</span>
                        </a>
                    <li>
                        <a class="dropdown-item" routerLink="doctor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-md" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.doctor">Doctor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="doctor-schedule" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.doctorSchedule">Doctor Schedule</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="checkup" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-stethoscope" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.checkup">Check Up</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="prescription" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-plus-square" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.prescription">Prescription</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="patient" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.patient">Patient</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="appointment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-address-card" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.appointment">Appointment</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="payment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-cc-mastercard" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.payment">Payment</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="order-medicine" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-first-order" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.orderMedicine">Order Medicine</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pharmacist" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-circle" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.pharmacist">Pharmacist</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pharmacist-payment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-money" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.pharmacistPayment">Pharmacist Payment</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="masterpage" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-leaf" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.masterpage">Master Page</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="report" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-area-chart" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.reports">Report</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <!--<li *ngIf=" account != null && account.verified == true && account.usertype == 'doctor'"  ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <!--<li>-->
                        <!--<a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">-->
                            <!--<i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>-->
                            <!--<span jhiTranslate="global.menu.admin.metrics">Metrics</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active" (click)="collapseNavbar()">-->
                            <!--<i class="fa fa-fw fa-heart" aria-hidden="true"></i>-->
                            <!--<span jhiTranslate="global.menu.admin.health">Health</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="dropdown-item" routerLink="jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">-->
                            <!--<i class="fa fa-fw fa-list" aria-hidden="true"></i>-->
                            <!--<span jhiTranslate="global.menu.admin.configuration">Configuration</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a class="dropdown-item" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <!--<li>-->
                        <!--<a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">-->
                            <!--<i class="fa fa-fw fa-tasks" aria-hidden="true"></i>-->
                            <!--<span jhiTranslate="global.menu.admin.logs">Logs</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngIf="isAuthenticated() && account != null && account.verified == false && account.usertype == 'Doctor' && doctor == null">
                        <a class="dropdown-item" [routerLink]="['/', { outlets: { popup: ['doctor-new'] } }]">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.doctor">Doctor</span>
                        </a>
                    </li>
                    <li *ngIf="isAuthenticated() && account != null && account.verified == false && account.usertype == 'Doctor' && doctor != null">
                        <a class="dropdown-item" [routerLink]="['../doctor', doctor.id ]">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.doctor">Doctor</span>
                        </a>
                    </li>
                    <li *ngIf="isAuthenticated() && account != null && account.verified == false && account.usertype == 'Patient' && patient == null">
                        <a class="dropdown-item" [routerLink]="['/', { outlets: { popup: ['patient-new'] } }]">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.patient">Patient</span>
                        </a>
                    </li>

                    <li *ngIf="isAuthenticated() && account != null && account.verified == false && account.usertype == 'Patient' && patient != null">
                        <a class="dropdown-item"  [routerLink]="['../patient', patient.id ]">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.patient">Patient</span>
                        </a>
                    </li>

                    <li *ngIf="isAuthenticated() && account != null && account.verified == false && account.usertype == 'Pharmacist' && pharmacist == null">
                        <a class="dropdown-item" [routerLink]="['/', { outlets: { popup: ['pharmacist-new'] } }]">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.pharmacist">Pharmacist</span>
                        </a>
                    </li>
                    <li *ngIf="isAuthenticated() && account != null && account.verified == false && account.usertype == 'Pharmacist' && pharmacist != null">
                        <a class="dropdown-item" [routerLink]="['../pharmacist', pharmacist.id ]">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.pharmacist">Pharmacist</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!--<div *jhiHasAnyAuthority="'ROLE_ADMIN'">-->
    <!--&lt;!&ndash;<div *ngSwitchCase="false">&ndash;&gt;-->
        <!--<ngb-carousel>-->
            <!--<ng-template ngbSlide>-->
                <!--<img src="../../../content/images/sl4.jpg" alt="Random first slide" style="width: 1600px !important; height: 506px !important;">-->
                <!--<div class="carousel-caption">-->

                <!--</div>-->
            <!--</ng-template>-->
            <!--<ng-template ngbSlide>-->
                <!--<img src="../../../content/images/sl6.jpg" alt="Random second slide" style="width: 1600px !important; height: 506px !important;">-->
                <!--<div class="carousel-caption">-->
                <!--</div>-->
            <!--</ng-template>-->
            <!--<ng-template ngbSlide>-->
                <!--<img src="../../../content/images/sl7.jpg" alt="Random third slide" style="width: 1600px !important; height: 506px !important;">-->
                <!--<div class="carousel-caption">-->
                <!--</div>-->
            <!--</ng-template>-->
        <!--</ngb-carousel>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->

