    <div>
    <h2>
        <span jhiTranslate="telemedicineApplicationApp.doctorSchedule.home.title">Doctor Schedules</span>
        <button *jhiHasAnyAuthority="'ROLE_DOCTOR'" class="btn btn-primary float-right jh-create-entity create-doctor-schedule" [routerLink]="['/', { outlets: { popup: ['doctor-schedule-new'] } }]">
            <span class="fa fa-plus" *jhiHasAnyAuthority="'ROLE_DOCTOR'"></span>
            <span class="hidden-sm-down"  *jhiHasAnyAuthority="'ROLE_DOCTOR'" jhiTranslate="telemedicineApplicationApp.doctorSchedule.home.createLabel">
            Create new Doctor Schedule
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'telemedicineApplicationApp.doctorSchedule.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="doctorSchedules">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="workingday"><span jhiTranslate="telemedicineApplicationApp.doctorSchedule.workingday">Workingday</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fromtime"><span jhiTranslate="telemedicineApplicationApp.doctorSchedule.fromtime">Fromtime</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totime"><span jhiTranslate="telemedicineApplicationApp.doctorSchedule.totime">Totime</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="noofpatient"><span jhiTranslate="telemedicineApplicationApp.doctorSchedule.noofpatient">Noofpatient</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="telemedicineApplicationApp.doctorSchedule.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="doctorId"><span jhiTranslate="telemedicineApplicationApp.doctorSchedule.doctor">Doctor</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <tr *ngFor="let doctorSchedule of doctorSchedules ;trackBy: trackId">
                <td><a [routerLink]="['../doctor-schedule', doctorSchedule.id ]">{{doctorSchedule.id}}</a></td>
                <td jhiTranslate="{{'telemedicineApplicationApp.Days.' + doctorSchedule.workingday}}">{{doctorSchedule.workingday}}</td>
                <td>{{doctorSchedule.fromtime}}</td>
                <td>{{doctorSchedule.totime}}</td>
                <td>{{doctorSchedule.noofpatient}}</td>
                <td jhiTranslate="{{'telemedicineApplicationApp.Schedule_Status.' + doctorSchedule.status}}">{{doctorSchedule.status}}</td>
                <td>
                    <div *ngIf="doctorSchedule.doctorId">
                        <a [routerLink]="['../doctor', doctorSchedule.doctorId  ]" >{{doctorSchedule.doctorId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../doctor-schedule', doctorSchedule.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doctor-schedule/'+ doctorSchedule.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doctor-schedule/'+ doctorSchedule.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody *jhiHasAnyAuthority="'ROLE_DOCTOR'">
            <tr *ngFor="let doctorSchedule of schedules ;trackBy: trackId">
                <td><a [routerLink]="['../doctor-schedule', doctorSchedule.id ]">{{doctorSchedule.id}}</a></td>
                <td jhiTranslate="{{'telemedicineApplicationApp.Days.' + doctorSchedule.workingday}}">{{doctorSchedule.workingday}}</td>
                <td>{{doctorSchedule.fromtime}}</td>
                <td>{{doctorSchedule.totime}}</td>
                <td>{{doctorSchedule.noofpatient}}</td>
                <td jhiTranslate="{{'telemedicineApplicationApp.Schedule_Status.' + doctorSchedule.status}}">{{doctorSchedule.status}}</td>
                <td>
                    <div *ngIf="doctorSchedule.doctorId">
                        <a [routerLink]="['../doctor', doctorSchedule.doctorId  ]" >{{doctorSchedule.doctorId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../doctor-schedule', doctorSchedule.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doctor-schedule/'+ doctorSchedule.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doctor-schedule/'+ doctorSchedule.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="doctorSchedules && doctorSchedules.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
