<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDoctorScheduleLabel" jhiTranslate="telemedicineApplicationApp.doctorSchedule.home.createOrEditLabel">Create or edit a Doctor Schedule</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!doctorSchedule.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="doctorSchedule.id" readonly />
        </div>
        <!---->
        <!--<mat-form-field class="example-form-field">-->
        <!--<input matInput type="text" placeholder="Clearable input" [(ngModel)]="value"/>-->
        <!--<button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">-->
        <!--<mat-icon>close</mat-icon>-->
        <!--</button>-->
        <!--</mat-form-field>-->
        <!---->
        <!--<div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctorSchedule.doctor" for="field_doctor">Doctor</label>
            <select class="form-control" id="field_doctor" name="doctor" [(ngModel)]="doctorSchedule.doctorId" >
                <option [ngValue]="doctorOption.id" *ngFor="let doctorOption of doctors; trackBy: trackDoctorById">DR. {{doctorOption.firstname}} {{doctorOption.lastname}}</option>
            </select>
        </div>-->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctorSchedule.workingday" for="field_workingday">Workingday</label>
            <select class="form-control" name="workingday" [(ngModel)]="doctorSchedule.workingday" id="field_workingday"  required>
                <option value="SUNDAY">{{'telemedicineApplicationApp.Days.SUNDAY' | translate}}</option>
                <option value="MONDAY">{{'telemedicineApplicationApp.Days.MONDAY' | translate}}</option>
                <option value="TUESDAY">{{'telemedicineApplicationApp.Days.TUESDAY' | translate}}</option>
                <option value="WEDNESDAY">{{'telemedicineApplicationApp.Days.WEDNESDAY' | translate}}</option>
                <option value="THURSDAY">{{'telemedicineApplicationApp.Days.THURSDAY' | translate}}</option>
                <option value="FRIDAY">{{'telemedicineApplicationApp.Days.FRIDAY' | translate}}</option>
                <option value="SATURDAY">{{'telemedicineApplicationApp.Days.SATURDAY' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.workingday?.dirty && editForm.controls.workingday?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.workingday?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctorSchedule.fromtime" for="field_fromtime">Fromtime</label>
            <input type="time" ng-cloak="h:mma" class="form-control" name="fromtime" id="field_fromtime"
                   [(ngModel)]="doctorSchedule.fromtime" required/>
            <div [hidden]="!(editForm.controls.fromtime?.dirty && editForm.controls.fromtime?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.fromtime?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctorSchedule.totime" for="field_totime">Totime</label>
            <input type="time" ng-cloak="h:mma" class="form-control" name="totime" id="field_totime"
                   [(ngModel)]="doctorSchedule.totime" required/>
            <div [hidden]="!(editForm.controls.totime?.dirty && editForm.controls.totime?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.totime?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctorSchedule.noofpatient" for="field_noofpatient">Noofpatient</label>
            <input type="number"  min="1" step="1" class="form-control" name="noofpatient" id="field_noofpatient"
                   [(ngModel)]="doctorSchedule.noofpatient" required/>
            <div [hidden]="!(editForm.controls.noofpatient?.dirty && editForm.controls.noofpatient?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.noofpatient?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.noofpatient?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.doctorSchedule.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="doctorSchedule.status" id="field_status"  required>
                <option value="ENABLE">{{'telemedicineApplicationApp.Schedule_Status.ENABLE' | translate}}</option>
                <option value="DISABLE">{{'telemedicineApplicationApp.Schedule_Status.DISABLE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
