<div *ngIf="doctorSchedule">
    <h2><span jhiTranslate="telemedicineApplicationApp.doctorSchedule.detail.title">Doctor Schedule</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
        <div class="col-lg-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <!--<div class="d-flex flex-row">-->
                        <!--<tr><span jhiTranslate="telemedicineApplicationApp.doctor.photo">Photo</span></tr>-->
                        <!--<div class="row-md jh-entity-details">-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" jhiTranslate="telemedicineApplicationApp.doctorSchedule.doctor">Disabled</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="{{doctorSchedule.doctorId}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" jhiTranslate="telemedicineApplicationApp.doctorSchedule.status">Disabled</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="{{doctorSchedule.status}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" jhiTranslate="telemedicineApplicationApp.doctorSchedule.workingday">Disabled</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="{{doctorSchedule.workingday}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" jhiTranslate="telemedicineApplicationApp.doctorSchedule.time">Disabled</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="{{doctorSchedule.fromtime}} - {{doctorSchedule.totime}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" jhiTranslate="telemedicineApplicationApp.doctorSchedule.noofpatient">Disabled</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="{{doctorSchedule.noofpatient}}" disabled>
                        </div>
                    </div>

                        <button type="submit"
                                (click)="previousState()"
                                class="btn btn-info">
                            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                        </button>

                        <button type="button"
                                [routerLink]="['/', { outlets: { popup: 'doctor-schedule/'+ doctorSchedule.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary">
                        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                        </button>
                    </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
