<!--<div class="row justify-content-center" style="font-family: Bitstream Vera Sans Mono; padding-top: 30px">-->
<!--<div class="col-md-4" align="center">-->
<!--<img align="center" src="../../content/images/register_1.jpg" style="height: 400px; width: 400px; padding-top: inherit;padding-bottom: inherit; padding-left: inherit;padding-right: inherit">-->
<!--</div>-->

<!--<div align="center" class="col-md-8" style="background-image: url('../../content/images/reg_3.jpg')">-->
<!--<h4 class=""> Register Now!!! </h4>-->
<!--<br/><br/>-->
<!--<form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">-->
<!--<div class="form-group">-->
<!--<input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Username"-->
<!--required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">-->
<!--<div *ngIf="login.dirty && login.invalid">-->
<!--<small class="form-text text-danger" *ngIf="login.errors.required" jhiTranslate="register.messages.validate.login.required">-->
<!--Your username is required.-->
<!--</small>-->
<!--<small class="form-text text-danger" *ngIf="login.errors.minlength"-->
<!--jhiTranslate="register.messages.validate.login.minlength">-->
<!--Your username is required to be at least 1 character.-->
<!--</small>-->
<!--<small class="form-text text-danger" *ngIf="login.errors.maxlength"-->
<!--jhiTranslate="register.messages.validate.login.maxlength">-->
<!--Your username cannot be longer than 50 characters.-->
<!--</small>-->
<!--<small class="form-text text-danger" *ngIf="login.errors.pattern">-->
<!--&lt;!&ndash;jhiTranslate="register.messages.validate.login.pattern">&ndash;&gt;-->
<!--Your username is already taken.-->
<!--</small>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<select class="form-control" id="usertype" name="usertype"-->
<!--#usertype="ngModel" [(ngModel)]="registerAccount.usertype" placeholder="Usertype" required>-->
<!--<option value="Doctor">Doctor</option>-->
<!--<option value="Patient">Patient</option>-->
<!--<option value="Pharmacist">Pharmacist</option>-->
<!--</select>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Email"-->
<!--[(ngModel)]="registerAccount.email" minlength=5 maxlength=100 email required>-->
<!--<div *ngIf="email.dirty && email.invalid">-->
<!--<small class="form-text text-danger" *ngIf="email.errors.required"-->
<!--jhiTranslate="global.messages.validate.email.required">-->
<!--Your email is required.-->
<!--</small>-->
<!--<small class="form-text text-danger" *ngIf="email.errors.invalid"-->
<!--jhiTranslate="global.messages.validate.email.invalid">-->
<!--Your email is invalid.-->
<!--</small>-->
<!--<small class="form-text text-danger" *ngIf="email.errors.minlength"-->
<!--jhiTranslate="global.messages.validate.email.minlength">-->
<!--Your email is required to be at least 5 characters.-->
<!--</small>-->
<!--<small class="form-text text-danger" *ngIf="email.errors.maxlength"-->
<!--jhiTranslate="global.messages.validate.email.maxlength">-->
<!--Your email cannot be longer than 100 characters.-->
<!--</small>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="new password"-->
<!--[(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>-->
<!--<div *ngIf="password.dirty && password.invalid">-->
<!--<small class="form-text text-danger" *ngIf="password.errors.required"-->
<!--jhiTranslate="global.messages.validate.newpassword.required">-->
<!--Your password is required.-->
<!--</small>-->
<!--<small class="form-text text-danger" *ngIf="password.errors.minlength"-->
<!--jhiTranslate="global.messages.validate.newpassword.minlength">-->
<!--Your password is required to be at least 4 characters.-->
<!--</small>-->
<!--<small class="form-text text-danger" *ngIf="password.errors.maxlength"-->
<!--jhiTranslate="global.messages.validate.newpassword.maxlength">-->
<!--Your password cannot be longer than 50 characters.-->
<!--</small>-->
<!--</div>-->
<!--<jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="confirm password"-->
<!--[(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>-->
<!--<div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">-->
<!--<small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"-->
<!--jhiTranslate="global.messages.validate.confirmpassword.required">-->
<!--Your confirmation password is required.-->
<!--</small>-->
<!--<small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"-->
<!--jhiTranslate="global.messages.validate.confirmpassword.minlength">-->
<!--Your confirmation password is required to be at least 4 characters.-->
<!--</small>-->
<!--<small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"-->
<!--jhiTranslate="global.messages.validate.confirmpassword.maxlength">-->
<!--Your confirmation password cannot be longer than 50 characters.-->
<!--</small>-->
<!--</div>-->
<!--</div>-->

<!--<button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Register</button>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<br/>
<div>
<div class="row" style="font-family: Bitstream Vera Sans Mono">
    <div class="col-md-12">
        <div class="card testimonial-card" style="border-radius: 25px;">
            <div class="container-fluid text-center" style="border: #4a5dff">
                <h2 style="padding-top: 20px; padding-bottom: 20px">DEPARTMENTS</h2>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row" style="font-family: 'Bitstream Vera Sans Mono'">
    <div class="col-sm-12 round round-lg align-self-center round-info" style="background-color: lightcoral; text-align: center; vertical-align: middle; display: table-cell; ">
        <br/><br/>
        <div class="row">
            <div class="col-sm-3 center-block">
                <img class="rounded-circle" src="../../content/images/neuro.jpg" height="150" width="150">
                <br/><br/>
                <h4 align="center">Neurologist</h4>
            </div>
            <div class="col-sm-3">
                <img class="rounded-circle" src="../../content/images/heart.jpg" height="150" width="150">
                <br/><br/>
                <h4 align="center">Heart Specialist</h4>
            </div>
            <div class="col-sm-3">
                <img class="rounded-circle" src="../../content/images/psychology.jpg" height="150" width="150">
                <br/><br/>
                <h4 align="center">Psychologist</h4>
            </div>
            <div class="col-sm-3">
                <img class="rounded-circle" src="../../content/images/alergy.jpg" height="150" width="150">
                <br/><br/>
                <h4 align="center">Infectious disease</h4>
            </div>
        </div>
        <br/>
    </div>
</div>
<br/>
<div class="row" style="font-family: Bitstream Vera Sans Mono">
    <div class="col-md-12">
        <div class="card testimonial-card" style="border-radius: 25px;">
            <div class="container-fluid text-center" style="border: #4a5dff">
                <h2 style="padding-top: 20px; padding-bottom: 20px">OUR EXPERIENCED DOCTORS PENAL</h2>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row" style="font-family: Bitstream Vera Sans Mono">
    <div class="col-md-3"  *ngFor="let doctor of doctorDetails" >
        <div class="card testimonial-card" style="box-shadow: 10px 10px 5px grey;">

            <!--Bacground color-->
            <div class="card-up indigo lighten-1">
            </div>

            <!--Avatar-->
            <div class="avatar mx-auto white"><a *ngIf="doctor.photo" (click)="openFile(doctor.photoContentType, doctor.photo)">
                <img [src]="'data:' + doctor.photoContentType + ';base64,' + doctor.photo" style="max-height: 120px;" alt="doctor image"/>
            </a><!--<img src="../../content/images/doctor1.jpg" class="rounded-circle">-->
            </div >
            <div class="card-body">
                <!--Name-->
                <h4 align="center" class="card-title">{{doctor.firstname}} {{doctor.lastname}}<br/></h4>
                <hr>
                <!--Quotation-->
                <p><i class="fa fa-quote-left"></i> {{doctor.fimrstname}} had experiance of {{doctor.exprience}} years</p>
            </div>

        </div>
        <!--/.Card-->
    </div>
  <!--  <div class="col-md-3">
        <div class="card testimonial-card"  style="box-shadow: 10px 10px 5px grey;">

            &lt;!&ndash;Bacground color&ndash;&gt;
            <div class="card-up indigo lighten-1">
            </div>

            &lt;!&ndash;Avatar&ndash;&gt;
            <div class="avatar mx-auto white"><img src="../../content/images/doctor2.png" class="rounded-circle">
            </div>

            <div class="card-body">
                &lt;!&ndash;Name&ndash;&gt;
                <h4 align="center" class="card-title">{{doctor.firstname}} <br/> Heart Specialist</h4>
                <hr>
                &lt;!&ndash;Quotation&ndash;&gt;
                <p><i class="fa fa-quote-left"></i> specialist for neuro problems and had experiance of 5 yearss</p>
            </div>

        </div>
        &lt;!&ndash;/.Card&ndash;&gt;
    </div>
    <div class="col-md-3">
        <div class="card testimonial-card"  style="box-shadow: 10px 10px 5px grey;">

            &lt;!&ndash;Bacground color&ndash;&gt;
            <div class="card-up indigo lighten-1">
            </div>

            &lt;!&ndash;Avatar&ndash;&gt;
            <div class="avatar mx-auto white"><img src="../../content/images/doctor3.jpg" class="rounded-circle" height="285" width="177">
            </div>

            <div class="card-body">
                &lt;!&ndash;Name&ndash;&gt;
                <h4 align="center" class="card-title">{{doctor.firstname}} <br/> Psychologist</h4>
                <hr>
                &lt;!&ndash;Quotation&ndash;&gt;
                <p><i class="fa fa-quote-left"></i> specialist for lung problem and had experiance of 2 years</p>
            </div>

        </div>
        &lt;!&ndash;/.Card&ndash;&gt;
    </div>
    <div class="col-md-3">
        <div class="card testimonial-card"  style="box-shadow: 10px 10px 5px grey;">

            &lt;!&ndash;Bacground color&ndash;&gt;
            <div class="card-up indigo lighten-1">
            </div>

            &lt;!&ndash;Avatar&ndash;&gt;
            <div class="avatar mx-auto white"><img src="../../content/images/doctor4.jpg" class="rounded-circle" height="272" width="185">
            </div>

            <div class="card-body">
                &lt;!&ndash;Name&ndash;&gt;
                <h4 align="center" class="card-title">{{doctor.firstname}} <br/> Infectious disease </h4>
                <hr>
                &lt;!&ndash;Quotation&ndash;&gt;
                <p><i class="fa fa-quote-left"></i> specialist for cancer problem and had experiance of 3 years</p>
            </div>

        </div>
    </div>-->
</div>
<br/>
<div class="row" style="font-family: Bitstream Vera Sans Mono">
    <div class="col-md-12">
        <div class="card testimonial-card" style="border-radius: 25px;">
            <div class="container-fluid text-center" style="border: #4a5dff">
                <h2 style="padding-top: 20px; padding-bottom: 20px" align="center">We provide 24/7 customer support.</h2>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row"  style="font-family: Bitstream Vera Sans Mono">
    <div class="col-lg-3 col-md-6">
        <div class="card" style="border-radius: 25px;">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-info">
                        <i class="fa fa-user-md" style="font-size:48px;color:#700b9af2"></i>
                    </div>
                    <div class="m-l-10 align-self-center" style="width:200px">
                        <!--<h3 class="text-right">1525</h3>-->
                        <h3 class="text-right">{{doctorCount}}</h3>
                        <h5 class="text-right">Online Doctor</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card" style="border-radius: 25px;">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-info">
                        <i class="fa fa-wheelchair" style="font-size:48px;color:darkred"></i>
                    </div>
                    <div class="m-l-10 align-self-center" style="width:200px">
                        <h3 class="text-right">{{patientCount}}</h3>
                        <!--<h3 class="text-right">1525</h3>-->
                        <h5 class="text-right">Online Patient</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card" style="border-radius: 25px;">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-info">
                        <i class="fa fa-medkit" style="font-size:48px;color:#228ee8"></i>
                    </div>
                    <div class="m-l-10 align-self-center" style="width:200px">
                        <h3 class="text-right">{{pharmacistCount}}</h3>
                        <!--<h3 class="text-right">1525</h3>-->
                        <h5 class="text-right">Online Pharmacist</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card" style="border-radius: 25px;">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-info">
                        <i class="fa fa-user" style="font-size:48px;color:black"></i>
                    </div>
                    <div class="m-l-10 align-self-center" style="width:200px">
                        <h3 class="text-right">{{doctorCount + patientCount + pharmacistCount}}</h3>
                        <!--<h3 class="text-right">1525</h3>-->
                        <h5 class="text-right">Total Users</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div class="row" style="font-family: 'Bitstream Vera Sans Mono';">
    <div class="col-xl-12 round round-lg align-self-center round-info" style="text-align: center; vertical-align: middle; display: table-cell;">
        <img src="../../content/images/msg.jpg" height=215 width="765">
    </div>
</div>
<br/>
<div class="row" style="font-family: Bitstream Vera Sans Mono">
    <div class="col-md-12">
        <div class="card testimonial-card"  style="border-radius: 25px;">
            <div class="container-fluid text-center" style="border: #4a5dff">
                <br/>
                <h2>SERVICES</h2>
                <h4>What we offer</h4>
                <hr>
                <br><br/>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="fa fa-power-off"></span>
                        <h4>POWER</h4>
                        <p>Lorem ipsum dolor sit amet..</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="fa fa-heart"></span>
                        <h4>LOVE</h4>
                        <p>Lorem ipsum dolor sit amet..</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="fa fa-lock"></span>
                        <h4>JOB DONE</h4>
                        <p>Lorem ipsum dolor sit amet..</p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="fa fa-leaf"></span>
                        <h4>GREEN</h4>
                        <p>Lorem ipsum dolor sit amet..</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="fa fa-certificate"></span>
                        <h4>CERTIFIED</h4>
                        <p>Lorem ipsum dolor sit amet..</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="fa fa-wrench"></span>
                        <h4 style="color:#303030;">HARD WORK</h4>
                        <p>Lorem ipsum dolor sit amet..</p>
                    </div>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row" style="font-family: 'Bitstream Vera Sans Mono'">
    <div class="col-xl-12 round round-lg align-self-center round-info"  style="background-color: darkseagreen;">
        <br/>
        <h4 align="center">PATIENT COMMENTS</h4>
        <hr>
        <div class="row col-sm-12">
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient1.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient2.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient3.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
        </div>
        <br/>
        <div class="row col-sm-12">
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient4.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient5.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient6.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
        </div>
        <br/>
    </div>
</div>
</div>

<!--<dcotor dashboard>-->
<div class="row" *jhiHasAnyAuthority="'ROLE_DOCTOR'">
    </br>
    <div class="agile_top_w3_grids">
        <ul class="ca-menu">
            <li>
                <a href="#">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main">{{totalAppointment}}</h4>
                        <h3 class="ca-sub">Total Appointment</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main one">{{appointmentCount}}</h4>
                        <h3 class="ca-sub one">Recent Appointment</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main two">29,008</h4>
                        <h3 class="ca-sub two">My Patients</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</br>
<div *jhiHasAnyAuthority="'ROLE_DOCTOR'" class="row">
    <!--<div class="col-md-5 profile-main">-->
    <!--<div class="profile_bg_agile">-->
        <!--<div class="profile-pic wthree">-->
            <!--<h2>Bason Durel</h2>-->
            <!--<img src="images/photo.jpg" alt="Image">-->
            <!--<p>Web Designer</p>-->
        <!--</div>-->
        <!--<div class="profile-ser">-->
            <!--<div class="follow-grids-agileits-w3layouts">-->
                <!--<div class="profile-ser-grids">-->
                    <!--<h3>Followers</h3>-->
                    <!--<h4>2486</h4>-->
                <!--</div>-->
                <!--<div class="profile-ser-grids agileinfo">-->
                    <!--<h3>Following</h3>-->
                    <!--<h4>1582</h4>-->
                <!--</div>-->
                <!--<div class="profile-ser-grids no-border">-->
                    <!--<h3>Tweets</h3>-->
                    <!--<h4>1468</h4>-->
                <!--</div>-->
                <!--<div class="clearfix"> </div>-->
            <!--</div>-->
            <!--<div class="w3l_social_icons w3l_social_icons1">-->
                <!--<ul>-->
                    <!--<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
                    <!--<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
                    <!--<li><a href="#" class="google_plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
                <!--</ul>-->
            <!--</div>-->

        <!--</div>-->
<!--</div>-->
    <!--</div>-->
    <div class="col-md-12">
<div class="chit-chat-layer1-left">
    <div class="work-progres">
        <div class="chit-chat-heading">
            Recent Followers
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Project</th>
                    <th>Manager</th>

                    <th>Status</th>
                    <th>Progress</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Face book</td>
                    <td>Malorum</td>

                    <td><span class="label label-danger">in progress</span></td>
                    <td><span class="badge badge-info">50%</span></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Twitter</td>
                    <td>Evan</td>

                    <td><span class="label label-success">completed</span></td>
                    <td><span class="badge badge-success">100%</span></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Google</td>
                    <td>John</td>

                    <td><span class="label label-warning">in progress</span></td>
                    <td><span class="badge badge-warning">75%</span></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>LinkedIn</td>
                    <td>Danial</td>

                    <td><span class="label label-info">in progress</span></td>
                    <td><span class="badge badge-info">65%</span></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Tumblr</td>
                    <td>David</td>

                    <td><span class="label label-warning">in progress</span></td>
                    <td><span class="badge badge-danger">95%</span></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Tesla</td>
                    <td>Mickey</td>

                    <td><span class="label label-info">in progress</span></td>
                    <td><span class="badge badge-success">95%</span></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Tesla</td>
                    <td>Mickey</td>

                    <td><span class="label label-info">in progress</span></td>
                    <td><span class="badge badge-success">95%</span></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Tesla</td>
                    <td>Mickey</td>

                    <td><span class="label label-info">in progress</span></td>
                    <td><span class="badge badge-success">95%</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
</div>
<br/>
<div *jhiHasAnyAuthority="'ROLE_DOCTOR'"class="w3ls_agile_cylinder chart agile_info_shadow">
    <h3 class="w3_inner_tittle two"> Cylinder chart</h3>

    <div id="chartdiv" style="overflow: visible; text-align: left;"><div class="amcharts-main-div" style="position: relative;"><div class="amcharts-chart-div" style="overflow: hidden; position: relative; text-align: left; width: 1090px; height: 450px; padding: 0px; touch-action: auto; cursor: default;"><svg version="1.1" style="position: absolute; width: 1402px; height: 450px; top: -0.046875px; left: 0px;"><desc>JavaScript chart by amCharts 3.20.20</desc><g><path cs="100,100" d="M0.5,0.5 L1401.5,0.5 L1401.5,449.5 L0.5,449.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-bg"></path><path cs="100,100" d="M0.5,0.5 L1287.5,0.5 L1287.5,374.5 L0.5,374.5 L0.5,0.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-plot-area" transform="translate(94,20)"></path><path cs="100,100" d="M0.5,0.5 L35.5,-19.5 L1322.5,-19.5 L1287.5,0.5 L0.5,0.5 Z" fill="#d9d9d9" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-plot-area-bottom" transform="translate(59,414)"></path><path cs="100,100" d="M0.5,0.5 L0.5,374.5 L35.5,354.5 L35.5,-19.5 L0.5,0.5 Z" fill="#d9d9d9" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-plot-area-left" transform="translate(59,40)"></path></g><g><g class="amcharts-category-axis" transform="translate(59,40)"></g><g class="amcharts-value-axis value-axis-valueAxisAuto0_1527850483434" transform="translate(59,40)" visibility="visible"></g></g><g transform="translate(59,40)" clip-path="url(#AmChartsEl-3)"><g visibility="hidden"></g></g><g></g><g></g><g><g transform="translate(59,40)"><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(9,374)" visibility="visible" aria-label=" USA 4,025"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#FF0F00" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-335A34.5,10,0,0,0,69,-335L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1835)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1835" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#FF0F00"></stop><stop offset="33.333333333333336%" stop-color="#b30b00"></stop><stop offset="66.66666666666667%" stop-color="#b30b00"></stop><stop offset="100%" stop-color="#FF0F00"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ff1700" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-344)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(95,374)" visibility="visible" aria-label=" China 1,882"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#FF6600" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-156A34.5,10,0,0,0,69,-156L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1836)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1836" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#FF6600"></stop><stop offset="33.333333333333336%" stop-color="#b34700"></stop><stop offset="66.66666666666667%" stop-color="#b34700"></stop><stop offset="100%" stop-color="#FF6600"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ff9900" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-165)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(181,374)" visibility="visible" aria-label=" Japan 1,809"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#FF9E01" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-150A34.5,10,0,0,0,69,-150L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1837)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1837" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#FF9E01"></stop><stop offset="33.333333333333336%" stop-color="#b36f01"></stop><stop offset="66.66666666666667%" stop-color="#b36f01"></stop><stop offset="100%" stop-color="#FF9E01"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ffed02" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-159)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(266,374)" visibility="visible" aria-label=" Germany 1,322"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#FCD202" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-110A34.5,10,0,0,0,69,-110L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1838)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1838" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#FCD202"></stop><stop offset="33.333333333333336%" stop-color="#b09301"></stop><stop offset="66.66666666666667%" stop-color="#b09301"></stop><stop offset="100%" stop-color="#FCD202"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ffff03" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-119)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(352,374)" visibility="visible" aria-label=" UK 1,122"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#F8FF01" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-93A34.5,10,0,0,0,69,-93L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1839)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1839" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#F8FF01"></stop><stop offset="33.333333333333336%" stop-color="#aeb301"></stop><stop offset="66.66666666666667%" stop-color="#aeb301"></stop><stop offset="100%" stop-color="#F8FF01"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ffff02" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-102)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(438,374)" visibility="visible" aria-label=" France 1,114"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#B0DE09" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-93A34.5,10,0,0,0,69,-93L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1840)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1840" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#B0DE09"></stop><stop offset="33.333333333333336%" stop-color="#7b9b06"></stop><stop offset="66.66666666666667%" stop-color="#7b9b06"></stop><stop offset="100%" stop-color="#B0DE09"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ffff0e" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-102)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(524,374)" visibility="visible" aria-label=" India 984"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#04D215" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-82A34.5,10,0,0,0,69,-82L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1841)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1841" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#04D215"></stop><stop offset="33.333333333333336%" stop-color="#03930f"></stop><stop offset="66.66666666666667%" stop-color="#03930f"></stop><stop offset="100%" stop-color="#04D215"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#06ff20" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-91)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(610,374)" visibility="visible" aria-label=" Spain 711"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#0D8ECF" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-59A34.5,10,0,0,0,69,-59L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1842)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1842" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#0D8ECF"></stop><stop offset="33.333333333333336%" stop-color="#096391"></stop><stop offset="66.66666666666667%" stop-color="#096391"></stop><stop offset="100%" stop-color="#0D8ECF"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#14d5ff" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-68)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(695,374)" visibility="visible" aria-label=" Netherlands 665"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#0D52D1" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-55A34.5,10,0,0,0,69,-55L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1843)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1843" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#0D52D1"></stop><stop offset="33.333333333333336%" stop-color="#093992"></stop><stop offset="66.66666666666667%" stop-color="#093992"></stop><stop offset="100%" stop-color="#0D52D1"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#147bff" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-64)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(781,374)" visibility="visible" aria-label=" Russia 580"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#2A0CD0" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-48A34.5,10,0,0,0,69,-48L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1844)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1844" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#2A0CD0"></stop><stop offset="33.333333333333336%" stop-color="#1d0892"></stop><stop offset="66.66666666666667%" stop-color="#1d0892"></stop><stop offset="100%" stop-color="#2A0CD0"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#3f12ff" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-57)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(867,374)" visibility="visible" aria-label=" South Korea 443"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#8A0CCF" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-37A34.5,10,0,0,0,69,-37L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1845)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1845" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#8A0CCF"></stop><stop offset="33.333333333333336%" stop-color="#610891"></stop><stop offset="66.66666666666667%" stop-color="#610891"></stop><stop offset="100%" stop-color="#8A0CCF"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#cf12ff" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-46)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(953,374)" visibility="visible" aria-label=" Canada 441"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#CD0D74" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-37A34.5,10,0,0,0,69,-37L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1846)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1846" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#CD0D74"></stop><stop offset="33.333333333333336%" stop-color="#900951"></stop><stop offset="66.66666666666667%" stop-color="#900951"></stop><stop offset="100%" stop-color="#CD0D74"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ff14ae" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-46)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(1039,374)" visibility="visible" aria-label=" Brazil 395"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#754DEB" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-33A34.5,10,0,0,0,69,-33L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1847)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1847" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#754DEB"></stop><stop offset="33.333333333333336%" stop-color="#5236a5"></stop><stop offset="66.66666666666667%" stop-color="#5236a5"></stop><stop offset="100%" stop-color="#754DEB"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#b074ff" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-42)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(1124,374)" visibility="visible" aria-label=" Italy 386"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#DDDDDD" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-32A34.5,10,0,0,0,69,-32L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1848)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1848" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#DDDDDD"></stop><stop offset="33.333333333333336%" stop-color="#9b9b9b"></stop><stop offset="66.66666666666667%" stop-color="#9b9b9b"></stop><stop offset="100%" stop-color="#DDDDDD"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ffffff" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-41)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(1210,374)" visibility="visible" aria-label=" Taiwan 338"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#333333" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-28A34.5,10,0,0,0,69,-28L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1849)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1849" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#333333"></stop><stop offset="33.333333333333336%" stop-color="#242424"></stop><stop offset="66.66666666666667%" stop-color="#242424"></stop><stop offset="100%" stop-color="#333333"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#4d4d4d" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-37)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g></g></g><g><g transform="translate(59,40)" class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435"><g></g></g></g><g></g><g><path cs="100,100" d="M0.5,374.5 L1287.5,374.5 L1322.5,354.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(59,40)" class="amcharts-axis-zero-grid-valueAxisAuto0_1527850483434 amcharts-axis-zero-grid"></path><g class="amcharts-category-axis"><path cs="100,100" d="M0.5,0.5 L1287.5,0.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(59,414)" class="amcharts-axis-line"></path></g><g class="amcharts-value-axis value-axis-valueAxisAuto0_1527850483434"><path cs="100,100" d="M0.5,0.5 L0.5,374.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(59,40)" class="amcharts-axis-line" visibility="visible"></path></g></g><g><g transform="translate(59,40)" clip-path="url(#AmChartsEl-4)" style="pointer-events: none;"><path cs="100,100" d="M35.5,-19.5 L0.5,0.5 L0.5,374.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" class="amcharts-cursor-line amcharts-cursor-line-vertical" visibility="hidden" transform="translate(43,0)"></path><path cs="100,100" d="M0.5,0.5 L1287.5,0.5 L1322.5,-19.5" fill="none" stroke-width="1" stroke="#000000" class="amcharts-cursor-line amcharts-cursor-line-horizontal" visibility="hidden" transform="translate(0,60)"></path></g><clipPath id="AmChartsEl-4"><rect x="0" y="0" width="1287" height="374" rx="0" ry="0" stroke-width="0"></rect></clipPath></g><g></g><g><g transform="translate(59,40)" class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435"></g></g><g><g></g></g><g><g class="amcharts-category-axis" transform="translate(59,40)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(42.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">USA</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(128.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">China</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(214.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Japan</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(299.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Germany</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(385.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">UK</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(471.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">France</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(557.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">India</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(643.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Spain</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(728.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Netherlands</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(814.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Russia</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(900.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">South Korea</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(986.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Canada</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(1072.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Brazil</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(1157.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Italy</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(1243.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Taiwan</tspan></text></g><g class="amcharts-value-axis value-axis-valueAxisAuto0_1527850483434" transform="translate(59,40)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,373)" class="amcharts-axis-label"><tspan y="6" x="0">0</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,331)" class="amcharts-axis-label"><tspan y="6" x="0">500</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,290)" class="amcharts-axis-label"><tspan y="6" x="0">1,000</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,248)" class="amcharts-axis-label"><tspan y="6" x="0">1,500</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,207)" class="amcharts-axis-label"><tspan y="6" x="0">2,000</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,165)" class="amcharts-axis-label"><tspan y="6" x="0">2,500</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,124)" class="amcharts-axis-label"><tspan y="6" x="0">3,000</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,82)" class="amcharts-axis-label"><tspan y="6" x="0">3,500</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,41)" class="amcharts-axis-label"><tspan y="6" x="0">4,000</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,-1)" class="amcharts-axis-label"><tspan y="6" x="0">4,500</tspan></text></g></g><g></g><g transform="translate(59,40)"></g><g></g><g></g><clipPath id="AmChartsEl-3"><rect x="-1" y="-1" width="1289" height="376" rx="0" ry="0" stroke-width="0"></rect></clipPath></svg><a href="http://www.amcharts.com/javascript-charts/" title="JavaScript charts" style="position: absolute; text-decoration: none; color: rgb(0, 0, 0); font-family: Verdana; font-size: 11px; opacity: 0.7; display: block; left: 64px; top: 45px;">JS chart by amCharts</a></div><div class="amcharts-export-menu amcharts-export-menu-top-right amExportButton"><ul><li class="export-main"><a href="#"><span>menu.label.undefined</span></a><ul><li><a href="#"><span>Download as ...</span></a><ul><li><a href="#"><span>PNG</span></a></li><li><a href="#"><span>JPG</span></a></li><li><a href="#"><span>SVG</span></a></li><li><a href="#"><span>PDF</span></a></li></ul></li><li><a href="#"><span>Save as ...</span></a><ul><li><a href="#"><span>CSV</span></a></li><li><a href="#"><span>XLSX</span></a></li><li><a href="#"><span>JSON</span></a></li></ul></li><li><a href="#"><span>Annotate ...</span></a></li><li><a href="#"><span>Print</span></a></li></ul></li></ul></div></div></div>


</div>
<br/>
<div *jhiHasAnyAuthority="'ROLE_DOCTOR'" class="row" style="font-family: 'Bitstream Vera Sans Mono'">
    <div class="col-xl-12 round round-lg align-self-center round-info"  style="background-color: darkseagreen;">
        <br/>
        <h4 align="center">PATIENT REVIEW</h4>
        <hr>
        <div class="row col-sm-12">
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient1.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient2.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient3.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
        </div>
        <br/>
        <div class="row col-sm-12">
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient4.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient5.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient6.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
        </div>
        <br/>
    </div>
</div>

<!--pharmacist dashboard-->
<div class="row" *jhiHasAnyAuthority="'ROLE_PHARMACIST'">
    </br>
    <div class="agile_top_w3_grids">
        <ul class="ca-menu">
            <li>
                <a href="#">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main">{{totalAppointment}}</h4>
                        <h3 class="ca-sub">Total Appointment</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main one">{{appointmentCount}}</h4>
                        <h3 class="ca-sub one">Recent Appointment</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main two">29,008</h4>
                        <h3 class="ca-sub two">My Patients</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</br>
<div class="row" *jhiHasAnyAuthority="'ROLE_PHARMACIST'">
    <!--<div class="col-md-5 profile-main">-->
    <!--<div class="profile_bg_agile">-->
    <!--<div class="profile-pic wthree">-->
    <!--<h2>Bason Durel</h2>-->
    <!--<img src="images/photo.jpg" alt="Image">-->
    <!--<p>Web Designer</p>-->
    <!--</div>-->
    <!--<div class="profile-ser">-->
    <!--<div class="follow-grids-agileits-w3layouts">-->
    <!--<div class="profile-ser-grids">-->
    <!--<h3>Followers</h3>-->
    <!--<h4>2486</h4>-->
    <!--</div>-->
    <!--<div class="profile-ser-grids agileinfo">-->
    <!--<h3>Following</h3>-->
    <!--<h4>1582</h4>-->
    <!--</div>-->
    <!--<div class="profile-ser-grids no-border">-->
    <!--<h3>Tweets</h3>-->
    <!--<h4>1468</h4>-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--<div class="w3l_social_icons w3l_social_icons1">-->
    <!--<ul>-->
    <!--<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
    <!--<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
    <!--<li><a href="#" class="google_plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
    <!--</ul>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="col-md-12">
        <div class="chit-chat-layer1-left">
            <div class="work-progres">
                <div class="chit-chat-heading">
                    Recent Followers
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Project</th>
                            <th>Manager</th>

                            <th>Status</th>
                            <th>Progress</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Face book</td>
                            <td>Malorum</td>

                            <td><span class="label label-danger">in progress</span></td>
                            <td><span class="badge badge-info">50%</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Twitter</td>
                            <td>Evan</td>

                            <td><span class="label label-success">completed</span></td>
                            <td><span class="badge badge-success">100%</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Google</td>
                            <td>John</td>

                            <td><span class="label label-warning">in progress</span></td>
                            <td><span class="badge badge-warning">75%</span></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>LinkedIn</td>
                            <td>Danial</td>

                            <td><span class="label label-info">in progress</span></td>
                            <td><span class="badge badge-info">65%</span></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Tumblr</td>
                            <td>David</td>

                            <td><span class="label label-warning">in progress</span></td>
                            <td><span class="badge badge-danger">95%</span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Tesla</td>
                            <td>Mickey</td>

                            <td><span class="label label-info">in progress</span></td>
                            <td><span class="badge badge-success">95%</span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Tesla</td>
                            <td>Mickey</td>

                            <td><span class="label label-info">in progress</span></td>
                            <td><span class="badge badge-success">95%</span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Tesla</td>
                            <td>Mickey</td>

                            <td><span class="label label-info">in progress</span></td>
                            <td><span class="badge badge-success">95%</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="w3ls_agile_cylinder chart agile_info_shadow" *jhiHasAnyAuthority="'ROLE_PHARMACIST'">
    <h3 class="w3_inner_tittle two"> Cylinder chart</h3>

    <div id="chartdiv" style="overflow: visible; text-align: left;"><div class="amcharts-main-div" style="position: relative;"><div class="amcharts-chart-div" style="overflow: hidden; position: relative; text-align: left; width: 1090px; height: 450px; padding: 0px; touch-action: auto; cursor: default;"><svg version="1.1" style="position: absolute; width: 1402px; height: 450px; top: -0.046875px; left: 0px;"><desc>JavaScript chart by amCharts 3.20.20</desc><g><path cs="100,100" d="M0.5,0.5 L1401.5,0.5 L1401.5,449.5 L0.5,449.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-bg"></path><path cs="100,100" d="M0.5,0.5 L1287.5,0.5 L1287.5,374.5 L0.5,374.5 L0.5,0.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-plot-area" transform="translate(94,20)"></path><path cs="100,100" d="M0.5,0.5 L35.5,-19.5 L1322.5,-19.5 L1287.5,0.5 L0.5,0.5 Z" fill="#d9d9d9" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-plot-area-bottom" transform="translate(59,414)"></path><path cs="100,100" d="M0.5,0.5 L0.5,374.5 L35.5,354.5 L35.5,-19.5 L0.5,0.5 Z" fill="#d9d9d9" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-plot-area-left" transform="translate(59,40)"></path></g><g><g class="amcharts-category-axis" transform="translate(59,40)"></g><g class="amcharts-value-axis value-axis-valueAxisAuto0_1527850483434" transform="translate(59,40)" visibility="visible"></g></g><g transform="translate(59,40)" clip-path="url(#AmChartsEl-3)"><g visibility="hidden"></g></g><g></g><g></g><g><g transform="translate(59,40)"><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(9,374)" visibility="visible" aria-label=" USA 4,025"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#FF0F00" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-335A34.5,10,0,0,0,69,-335L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1835)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1835" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#FF0F00"></stop><stop offset="33.333333333333336%" stop-color="#b30b00"></stop><stop offset="66.66666666666667%" stop-color="#b30b00"></stop><stop offset="100%" stop-color="#FF0F00"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ff1700" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-344)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(95,374)" visibility="visible" aria-label=" China 1,882"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#FF6600" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-156A34.5,10,0,0,0,69,-156L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1836)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1836" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#FF6600"></stop><stop offset="33.333333333333336%" stop-color="#b34700"></stop><stop offset="66.66666666666667%" stop-color="#b34700"></stop><stop offset="100%" stop-color="#FF6600"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ff9900" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-165)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(181,374)" visibility="visible" aria-label=" Japan 1,809"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#FF9E01" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-150A34.5,10,0,0,0,69,-150L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1837)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1837" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#FF9E01"></stop><stop offset="33.333333333333336%" stop-color="#b36f01"></stop><stop offset="66.66666666666667%" stop-color="#b36f01"></stop><stop offset="100%" stop-color="#FF9E01"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ffed02" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-159)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(266,374)" visibility="visible" aria-label=" Germany 1,322"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#FCD202" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-110A34.5,10,0,0,0,69,-110L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1838)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1838" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#FCD202"></stop><stop offset="33.333333333333336%" stop-color="#b09301"></stop><stop offset="66.66666666666667%" stop-color="#b09301"></stop><stop offset="100%" stop-color="#FCD202"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ffff03" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-119)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(352,374)" visibility="visible" aria-label=" UK 1,122"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#F8FF01" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-93A34.5,10,0,0,0,69,-93L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1839)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1839" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#F8FF01"></stop><stop offset="33.333333333333336%" stop-color="#aeb301"></stop><stop offset="66.66666666666667%" stop-color="#aeb301"></stop><stop offset="100%" stop-color="#F8FF01"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ffff02" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-102)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(438,374)" visibility="visible" aria-label=" France 1,114"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#B0DE09" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-93A34.5,10,0,0,0,69,-93L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1840)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1840" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#B0DE09"></stop><stop offset="33.333333333333336%" stop-color="#7b9b06"></stop><stop offset="66.66666666666667%" stop-color="#7b9b06"></stop><stop offset="100%" stop-color="#B0DE09"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ffff0e" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-102)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(524,374)" visibility="visible" aria-label=" India 984"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#04D215" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-82A34.5,10,0,0,0,69,-82L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1841)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1841" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#04D215"></stop><stop offset="33.333333333333336%" stop-color="#03930f"></stop><stop offset="66.66666666666667%" stop-color="#03930f"></stop><stop offset="100%" stop-color="#04D215"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#06ff20" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-91)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(610,374)" visibility="visible" aria-label=" Spain 711"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#0D8ECF" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-59A34.5,10,0,0,0,69,-59L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1842)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1842" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#0D8ECF"></stop><stop offset="33.333333333333336%" stop-color="#096391"></stop><stop offset="66.66666666666667%" stop-color="#096391"></stop><stop offset="100%" stop-color="#0D8ECF"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#14d5ff" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-68)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(695,374)" visibility="visible" aria-label=" Netherlands 665"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#0D52D1" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-55A34.5,10,0,0,0,69,-55L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1843)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1843" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#0D52D1"></stop><stop offset="33.333333333333336%" stop-color="#093992"></stop><stop offset="66.66666666666667%" stop-color="#093992"></stop><stop offset="100%" stop-color="#0D52D1"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#147bff" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-64)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(781,374)" visibility="visible" aria-label=" Russia 580"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#2A0CD0" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-48A34.5,10,0,0,0,69,-48L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1844)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1844" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#2A0CD0"></stop><stop offset="33.333333333333336%" stop-color="#1d0892"></stop><stop offset="66.66666666666667%" stop-color="#1d0892"></stop><stop offset="100%" stop-color="#2A0CD0"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#3f12ff" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-57)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(867,374)" visibility="visible" aria-label=" South Korea 443"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#8A0CCF" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-37A34.5,10,0,0,0,69,-37L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1845)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1845" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#8A0CCF"></stop><stop offset="33.333333333333336%" stop-color="#610891"></stop><stop offset="66.66666666666667%" stop-color="#610891"></stop><stop offset="100%" stop-color="#8A0CCF"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#cf12ff" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-46)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(953,374)" visibility="visible" aria-label=" Canada 441"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#CD0D74" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-37A34.5,10,0,0,0,69,-37L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1846)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1846" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#CD0D74"></stop><stop offset="33.333333333333336%" stop-color="#900951"></stop><stop offset="66.66666666666667%" stop-color="#900951"></stop><stop offset="100%" stop-color="#CD0D74"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ff14ae" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-46)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(1039,374)" visibility="visible" aria-label=" Brazil 395"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#754DEB" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-33A34.5,10,0,0,0,69,-33L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1847)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1847" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#754DEB"></stop><stop offset="33.333333333333336%" stop-color="#5236a5"></stop><stop offset="66.66666666666667%" stop-color="#5236a5"></stop><stop offset="100%" stop-color="#754DEB"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#b074ff" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-42)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(1124,374)" visibility="visible" aria-label=" Italy 386"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#DDDDDD" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-32A34.5,10,0,0,0,69,-32L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1848)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1848" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#DDDDDD"></stop><stop offset="33.333333333333336%" stop-color="#9b9b9b"></stop><stop offset="66.66666666666667%" stop-color="#9b9b9b"></stop><stop offset="100%" stop-color="#DDDDDD"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#ffffff" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-41)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g><g class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435" transform="translate(1210,374)" visibility="visible" aria-label=" Taiwan 338"><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#333333" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-10)" class="amcharts-graph-column-bottom amcharts-graph-column-element"></ellipse><path cs="100,100" d="M0,0 L0,-28A34.5,10,0,0,0,69,-28L69,0A34.5,10,0,0,1,0,0" fill="url(#AmChartsEl-1849)" stroke="#009fe3" stroke-width="1" stroke-opacity="0.1" fill-opacity="0.85" transform="translate(0,-10)" class="amcharts-graph-column-front amcharts-graph-column-element"></path><linearGradient id="AmChartsEl-1849" x1="100%" x2="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#333333"></stop><stop offset="33.333333333333336%" stop-color="#242424"></stop><stop offset="66.66666666666667%" stop-color="#242424"></stop><stop offset="100%" stop-color="#333333"></stop></linearGradient><ellipse rx="34.5" ry="10" cx="0" cy="0" fill="#4d4d4d" stroke="#009fe3" fill-opacity="0.85" stroke-width="1" stroke-opacity="0.1" transform="translate(35,-37)" class="amcharts-graph-column-top amcharts-graph-column-element"></ellipse></g></g></g><g><g transform="translate(59,40)" class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435"><g></g></g></g><g></g><g><path cs="100,100" d="M0.5,374.5 L1287.5,374.5 L1322.5,354.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(59,40)" class="amcharts-axis-zero-grid-valueAxisAuto0_1527850483434 amcharts-axis-zero-grid"></path><g class="amcharts-category-axis"><path cs="100,100" d="M0.5,0.5 L1287.5,0.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(59,414)" class="amcharts-axis-line"></path></g><g class="amcharts-value-axis value-axis-valueAxisAuto0_1527850483434"><path cs="100,100" d="M0.5,0.5 L0.5,374.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(59,40)" class="amcharts-axis-line" visibility="visible"></path></g></g><g><g transform="translate(59,40)" clip-path="url(#AmChartsEl-4)" style="pointer-events: none;"><path cs="100,100" d="M35.5,-19.5 L0.5,0.5 L0.5,374.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" class="amcharts-cursor-line amcharts-cursor-line-vertical" visibility="hidden" transform="translate(43,0)"></path><path cs="100,100" d="M0.5,0.5 L1287.5,0.5 L1322.5,-19.5" fill="none" stroke-width="1" stroke="#000000" class="amcharts-cursor-line amcharts-cursor-line-horizontal" visibility="hidden" transform="translate(0,60)"></path></g><clipPath id="AmChartsEl-4"><rect x="0" y="0" width="1287" height="374" rx="0" ry="0" stroke-width="0"></rect></clipPath></g><g></g><g><g transform="translate(59,40)" class="amcharts-graph-column amcharts-graph-graphAuto0_1527850483435"></g></g><g><g></g></g><g><g class="amcharts-category-axis" transform="translate(59,40)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(42.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">USA</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(128.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">China</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(214.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Japan</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(299.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Germany</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(385.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">UK</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(471.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">France</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(557.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">India</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(643.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Spain</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(728.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Netherlands</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(814.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Russia</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(900.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">South Korea</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(986.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Canada</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(1072.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Brazil</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(1157.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Italy</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(1243.9,391.5)" class="amcharts-axis-label"><tspan y="6" x="0">Taiwan</tspan></text></g><g class="amcharts-value-axis value-axis-valueAxisAuto0_1527850483434" transform="translate(59,40)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,373)" class="amcharts-axis-label"><tspan y="6" x="0">0</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,331)" class="amcharts-axis-label"><tspan y="6" x="0">500</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,290)" class="amcharts-axis-label"><tspan y="6" x="0">1,000</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,248)" class="amcharts-axis-label"><tspan y="6" x="0">1,500</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,207)" class="amcharts-axis-label"><tspan y="6" x="0">2,000</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,165)" class="amcharts-axis-label"><tspan y="6" x="0">2,500</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,124)" class="amcharts-axis-label"><tspan y="6" x="0">3,000</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,82)" class="amcharts-axis-label"><tspan y="6" x="0">3,500</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,41)" class="amcharts-axis-label"><tspan y="6" x="0">4,000</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,-1)" class="amcharts-axis-label"><tspan y="6" x="0">4,500</tspan></text></g></g><g></g><g transform="translate(59,40)"></g><g></g><g></g><clipPath id="AmChartsEl-3"><rect x="-1" y="-1" width="1289" height="376" rx="0" ry="0" stroke-width="0"></rect></clipPath></svg><a href="http://www.amcharts.com/javascript-charts/" title="JavaScript charts" style="position: absolute; text-decoration: none; color: rgb(0, 0, 0); font-family: Verdana; font-size: 11px; opacity: 0.7; display: block; left: 64px; top: 45px;">JS chart by amCharts</a></div><div class="amcharts-export-menu amcharts-export-menu-top-right amExportButton"><ul><li class="export-main"><a href="#"><span>menu.label.undefined</span></a><ul><li><a href="#"><span>Download as ...</span></a><ul><li><a href="#"><span>PNG</span></a></li><li><a href="#"><span>JPG</span></a></li><li><a href="#"><span>SVG</span></a></li><li><a href="#"><span>PDF</span></a></li></ul></li><li><a href="#"><span>Save as ...</span></a><ul><li><a href="#"><span>CSV</span></a></li><li><a href="#"><span>XLSX</span></a></li><li><a href="#"><span>JSON</span></a></li></ul></li><li><a href="#"><span>Annotate ...</span></a></li><li><a href="#"><span>Print</span></a></li></ul></li></ul></div></div></div>


</div>
<br/>
<div class="row" style="font-family: 'Bitstream Vera Sans Mono'" *jhiHasAnyAuthority="'ROLE_PHARMACIST'">
    <div class="col-xl-12 round round-lg align-self-center round-info"  style="background-color: darkseagreen;">
        <br/>
        <h4 align="center">PATIENT REVIEW</h4>
        <hr>
        <div class="row col-sm-12">
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient1.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient2.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient3.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
        </div>
        <br/>
        <div class="row col-sm-12">
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient4.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient5.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
            <div class="col-sm-4" >
                <img align="center" src="../../content/images/patient6.png" class="fa-user-circle" style="height: 100px; width: 100px; border-radius: 50%">
                "Nice Supportive Penal"
            </div>
        </div>
        <br/>
    </div>
</div>
