
<div *ngIf="appointment">
    <h2><span jhiTranslate="telemedicineApplicationApp.appointment.detail.title">Appointment</span> {{appointment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="telemedicineApplicationApp.appointment.appointmentdate">Appointmentdate</span></dt>
        <dd>
            <span>{{appointment.appointmentdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.appointment.appointmenttime">Appointmenttime</span></dt>
        <dd>
            <span>{{appointment.appointmenttime}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.appointment.appointmentstatus">Appointmentstatus</span></dt>
        <dd>
            <span jhiTranslate="{{'telemedicineApplicationApp.Appointment_Status.' + appointment.appointmentstatus}}">{{appointment.appointmentstatus}}</span>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.appointment.doctor">Doctor</span></dt>
        <dd>
            <div *ngIf="appointment.doctorId">
                <a [routerLink]="['/doctor', appointment.doctorId]">{{appointment.doctorId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.appointment.patient">Patient</span></dt>
        <dd>
            <div *ngIf="appointment.patientId">
                <a [routerLink]="['/patient', appointment.patientId]">{{appointment.patientId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="telemedicineApplicationApp.appointment.patientissue">Patientissue</span></dt>
        <dd>
            <div *ngIf="appointment.patientissueId">
                <a [routerLink]="['/patient-issue', appointment.patientissueId]">{{appointment.patientissueId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *jhiHasAnyAuthority="['ROLE_PATIENT', 'ROLE_DOCTOR']" type="button"
            [routerLink]="['/', { outlets: { popup: 'appointment/'+ appointment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
