<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myAppointmentLabel" jhiTranslate="telemedicineApplicationApp.appointment.home.createOrEditLabel">Create or edit a Appointment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!appointment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="appointment.id" readonly />
        </div>

        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="telemedicineApplicationApp.appointment.patient" for="field_patient">Patient</label>-->
            <!--<select class="form-control" id="field_patient" name="patient" [(ngModel)]="appointment.patientId">-->
                <!--<option [ngValue]="patientOption.id" *ngFor="let patientOption of patients; trackBy: trackPatientById">MR./MISS {{patientOption.firstname}} {{patientOption.lastname}}</option>-->
            <!--</select>-->
            <!--<div [hidden]="!(editForm.controls.patient?.dirty && editForm.controls.patient?.invalid)">-->
                <!--<small class="form-text text-danger"-->
                       <!--[hidden]="!editForm.controls.patient?.errors?.required" jhiTranslate="entity.validation.required">-->
                    <!--This field is required.-->
                <!--</small>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.appointment.specialization" for="field_specialization">Specialization</label>
            <select class="form-control" id="field_specialization" name="specialization" [(ngModel)]="appointment.specializationId" (change) = "getDoctors()">
                <option [ngValue]="specializationOption.id" *ngFor="let specializationOption of specialization; trackBy: trackSpecializationById">{{specializationOption.expertise}}</option>
            </select>
            <div [hidden]="!(editForm.controls.specialization?.dirty && editForm.controls.specialization?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.specialization?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.appointment.doctor" for="field_doctor">Doctor</label>
            <select class="form-control" id="field_doctor" name="doctor" [(ngModel)]="appointment.doctorId" (change) = "getSchedule()" >
                <!--[class.selected]="doctorOption === selectedDoctor"-->
                <option [ngValue]="doctorOption.id" *ngFor="let doctorOption of display_doctors; trackBy: trackDoctorById">DR. {{doctorOption.firstname}} {{doctorOption.lastname}}</option>
            </select>
            <div [hidden]="!(editForm.controls.doctor?.dirty && editForm.controls.doctor?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.doctor?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

        <!--Time Dropdown-->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.appointment.appointmenttime" for="field_appointmenttime">Time</label>
            <select class="form-control" id="field_appointmenttime" name="appointmenttime" [(ngModel)]="appointment.doctorscheduleId">
                <option [ngValue]="doctorscheduleOption.id" *ngFor="let doctorscheduleOption of display_schedules; trackBy: trackDoctorScheduleIdById">{{doctorscheduleOption.fromtime}} - {{doctorscheduleOption.totime}}</option>
                <div [hidden]="!(editForm.controls.appointmenttime?.dirty && editForm.controls.appointmenttime?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.appointmenttime?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </select>
        </div>

        <!--*ngIf="selectedDoctor"-->
        <div class="form-group" >
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.appointment.appointmentdate" for="field_appointmentdate">Appointmentdate</label>
            <div class="input-group">
                <input id="field_appointmentdate" type="text" class="form-control" name="appointmentdate" ngbDatepicker  #appointmentdateDp="ngbDatepicker" [(ngModel)]="appointment.appointmentdate"
                       (change)="selectedDate()"  required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="appointmentdateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.appointmentdate?.dirty && editForm.controls.appointmentdate?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.appointmentdate?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.appointment.appointmentstatus" for="field_appointmentstatus">Appointmentstatus</label>
            <select class="form-control" name="appointmentstatus" [(ngModel)]="appointment.appointmentstatus" id="field_appointmentstatus"  required>
                <option value="CONFIRMED">{{'telemedicineApplicationApp.Appointment_Status.CONFIRMED' | translate}}</option>
                <option value="UNCONFIRMED">{{'telemedicineApplicationApp.Appointment_Status.UNCONFIRMED' | translate}}</option>
                <option value="RESCHEDULE">{{'telemedicineApplicationApp.Appointment_Status.RESCHEDULE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.appointmentstatus?.dirty && editForm.controls.appointmentstatus?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.appointmentstatus?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="telemedicineApplicationApp.appointment.patientissue" for="field_patientissue">Patientissue</label>
            <select class="form-control" id="field_patientissue" name="patientissue" [(ngModel)]="appointment.patientissueId" >
                <option [ngValue]="patientIssuesOption.id" *ngFor="let patientIssuesOption of patientissues; trackBy: trackPatientIssuesById">{{patientIssuesOption.issue}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <a href="https://www.payumoney.com/sandbox/paybypayumoney/#/9598E899F9BFEC0849892DC465991AF3" target="_blank" >
             <button type="button" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" (click)="save()">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </a>
    </div>
</form>
