<div>
    <h2>
        <span jhiTranslate="telemedicineApplicationApp.appointment.home.title">Appointments</span>
        <button *jhiHasAnyAuthority="'ROLE_PATIENT'" class="btn btn-primary float-right jh-create-entity create-appointment" [routerLink]="['/', { outlets: { popup: ['appointment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.appointment.home.createLabel">
            Create new Appointment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'telemedicineApplicationApp.appointment.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="appointments">

        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="appointmentdate"><span jhiTranslate="telemedicineApplicationApp.appointment.appointmentdate">Appointmentdate</span> <span class="fa fa-sort"></span></th>
            <!--<th jhiSortBy="appointmenttime"><span jhiTranslate="telemedicineApplicationApp.appointment.appointmenttime">Appointmenttime</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="appointmentstatus"><span jhiTranslate="telemedicineApplicationApp.appointment.appointmentstatus">Appointmentstatus</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="doctorId"><span jhiTranslate="telemedicineApplicationApp.appointment.doctor">Doctor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="patientId"><span jhiTranslate="telemedicineApplicationApp.appointment.patient">Patient</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="patientissueId"><span jhiTranslate="telemedicineApplicationApp.appointment.patientissue">Patientissue</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody *jhiHasAnyAuthority="'ROLE_DOCTOR'">
            <tr *ngFor="let appointment of doctorAppointments ;trackBy: trackId">
                <td><a [routerLink]="['../appointment', appointment.id ]">{{appointment.id}}</a></td>
                <td>{{appointment.appointmentdate | date:'mediumDate'}}</td>
                <!--<td>{{appointment.appointmenttime}}</td>-->
                <td jhiTranslate="{{'telemedicineApplicationApp.Appointment_Status.' + appointment.appointmentstatus}}">{{appointment.appointmentstatus}}</td>
                <td>
                    <div *ngIf="appointment.doctorId">
                        <a [routerLink]="['../doctor', appointment.doctorId  ]" >{{appointment.doctorId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="appointment.patientId">
                        <a [routerLink]="['../patient', appointment.patientId  ]" >{{appointment.patientId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="appointment.patientissueId">
                        <a [routerLink]="['../patient-issue', appointment.patientissueId  ]" >{{appointment.patientissueId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../appointment', appointment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'appointment/'+ appointment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody *jhiHasAnyAuthority="'ROLE_PATIENT'">
            <tr *ngFor="let appointment of patientAppointments ;trackBy: trackId">
                <td><a [routerLink]="['../appointment', appointment.id ]">{{appointment.id}}</a></td>
                <td>{{appointment.appointmentdate | date:'mediumDate'}}</td>
                <!--<td>{{appointment.appointmenttime}}</td>-->
                <td jhiTranslate="{{'telemedicineApplicationApp.Appointment_Status.' + appointment.appointmentstatus}}">{{appointment.appointmentstatus}}</td>
                <td>
                    <div *ngIf="appointment.doctorId">
                        <a [routerLink]="['../doctor', appointment.doctorId  ]" >{{appointment.doctorId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="appointment.patientId">
                        <a [routerLink]="['../patient', appointment.patientId  ]" >{{appointment.patientId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="appointment.patientissueId">
                        <a [routerLink]="['../patient-issue', appointment.patientissueId  ]" >{{appointment.patientissueId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../appointment', appointment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'appointment/'+ appointment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'appointment/'+ appointment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <tr *ngFor="let appointment of appointments ;trackBy: trackId">
                <td><a [routerLink]="['../appointment', appointment.id ]">{{appointment.id}}</a></td>
                <td>{{appointment.appointmentdate | date:'mediumDate'}}</td>
                <!--<td>{{appointment.appointmenttime}}</td>-->
                <td jhiTranslate="{{'telemedicineApplicationApp.Appointment_Status.' + appointment.appointmentstatus}}">{{appointment.appointmentstatus}}</td>
                <td>
                    <div *ngIf="appointment.doctorId">
                        <a [routerLink]="['../doctor', appointment.doctorId  ]" >{{appointment.doctorId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="appointment.patientId">
                        <a [routerLink]="['../patient', appointment.patientId  ]" >{{appointment.patientId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="appointment.patientissueId">
                        <a [routerLink]="['../patient-issue', appointment.patientissueId  ]" >{{appointment.patientissueId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../appointment', appointment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="appointments && appointments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
