<h5 class="text-left">Check-Up</h5>
<hr/>
<div class="row">
    <div class="col-lg-9 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <!--<img src="../../../content/images/calling.png" style="width: 100%; height: 500px">-->


                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div>
                    <h2>
                        <button class="btn btn-primary float-right jh-create-entity create-prescription" [routerLink]="['/', { outlets: { popup: ['prescription-new'] } }]">
                            <span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.prescription.home.createLabel">Create new Prescription</span>
                        </button>
                    </h2>
                    <h2>
                        <button class="btn btn-primary float-left jh-create-entity create-prescription">
                            <span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.prescription.home.create">Submit</span>
                        </button>
                    </h2>
                    <!--<jhi-alert></jhi-alert>-->
                    <br/>
                    <div class="table-responsive" *ngIf="prescriptions">
                        <table class="table table-striped">
                            <thead>
                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                                <th jhiSortBy="prescriptiondetail"><span jhiTranslate="telemedicineApplicationApp.prescription.prescriptiondetail">Prescriptiondetail</span> <span class="fa fa-sort"></span></th>
                                <th jhiSortBy="appointmentId"><span jhiTranslate="telemedicineApplicationApp.prescription.appointment">Appointment</span> <span class="fa fa-sort"></span></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let prescription of prescriptions ;trackBy: trackId">
                                <td><a [routerLink]="['../prescription', prescription.id ]">{{prescription.id}}</a></td>
                                <td>{{prescription.prescriptiondetail}}</td>
                                <td>
                                    <div *ngIf="prescription.appointmentId">
                                        <a [routerLink]="['../appointment', prescription.appointmentId  ]" >{{prescription.appointmentId}}</a>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: ['order-medicine-new'] } }]"
                                                class="btn btn-info btn-sm">
                                            <span class="fa fa-shopping-cart"></span>
                                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['../prescription', prescription.id ]"
                                                class="btn btn-info btn-sm">
                                            <span class="fa fa-eye"></span>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'prescription/'+ prescription.id + '/edit'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-primary btn-sm">
                                            <span class="fa fa-pencil"></span>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'prescription/'+ prescription.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <span class="fa fa-remove"></span>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngFor="let prescript of prescriparray">
                                <td>{{prescript.name}}</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="prescriptions && prescriptions.length">
                        <div class="row justify-content-center">
                            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                        </div>
                        <div class="row justify-content-center">
                            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                        </div>
                    </div>
                </div>

                <!--<button class="btn btn-primary float-right jh-create-entity create-prescription" [routerLink]="['/', { outlets: { popup: ['prescription-new'] } }]">-->
                <!--<span class="fa fa-plus"></span>-->
                <!--<span class="hidden-sm-down"  jhiTranslate="telemedicineApplicationApp.prescription.home.createLabel">-->
                <!--Create new Prescription-->
                <!--</span>-->
                <!--</button>-->
                <!--<div class="d-flex flex-row">-->
                <!--<div class="round round-lg align-self-center round-info">-->
                <!--<i class="fa fa-user-md" style="font-size:48px;color:#700b9af2"></i>-->
                <!--</div>-->
                <!--<div class="m-l-10 align-self-center" style="width:200px">-->
                <!--<h3 class="text-right">1525</h3>-->
                <!--<h5 class="text-right">Online Doctor</h5>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">


                    <div class="m-l-10 align-self-center" style="width:200px">
                        <h5 class="text-right"> Patient</h5>
                        <div class="round round-lg align-self-center round-info">
                            <i class="fa fa-user-circle" style="font-size:48px;color:#700b9af2"></i>
                        </div>
                        <div id="SkypeButton_Call_live:ks_1622_1">Kirti Sharma</div>
                        <div class="round round-lg align-self-center round-info">
                            <i class="fa fa-user-circle" style="font-size:48px;color:#700b9af2"></i>
                        </div>
                        <div id="SkypeButton_Call_live:mja_281_1">Mrunali Jariwala</div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
