<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="login.title">Sign in</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body" style="background-image: url('../webapp/content/images/temp.png')">
    <div class="row justify-content-center">
        <div class="col-12" align="center">
            <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-12">
            <form class="form" role="form" (ngSubmit)="login()">
                <div class="imgcontainer" style="text-align: center">
                    <img src="../../../content/images/temp.png" alt="Avatar" class="avatar" style="height: 150px; width: 150px">
                </div>
                <div class="form-group">
                    <label for="username" jhiTranslate="global.form.username">Login</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                    [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="password" jhiTranslate="login.form.password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                           [(ngModel)]="password">
                </div>
                <div align="center">
                    <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button" style="text-align: center; width: 50%; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br/>
<div class="col-md-12">
    <div class="alert alert-info" style="text-align: center; border-top-right-radius: 0px; border-bottom-right-radius: 80px; border-top-left-radius: 80px; border-bottom-left-radius: 0px">
        <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">forget password?</a>
    </div>
    <div class="alert alert-info" style="text-align: center; border-top-right-radius: 0px; border-bottom-right-radius: 80px; border-top-left-radius: 80px; border-bottom-left-radius: 0px">
        <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
    </div>
</div>
<div class="col-md-12">
    <br/>
    <jhi-social provider="google"></jhi-social>
    <jhi-social provider="facebook"></jhi-social>
    <jhi-social provider="twitter"></jhi-social>
</div>
<br/>
